html {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background: #baacd2;
}

/* Верхнее меню */
.menu {
    background-color: #f1f1f1;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.menu li {
    display: inline-block;
    vertical-align: top;
    padding: 12px;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
}

.menu li:hover {
    background-color: #fc6c85;
    color: #ffd1d9;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.active {
    background-color: #fc6c85;
    color: #ffd1d9;
}

.active a:visited {
    color: #ffd1d9;
}

.menu a:hover {
    color: #ffd1d9;
}

.cursor {
    cursor: pointer;
}

/*--------*/
/* КНОПКИ */
/*--------*/

/* Основа */
.button {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 12px;
    margin: 6px 0;
    cursor: pointer;
}

.container_button {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

/*Кнопки под фильтром*/
.button_search {
    width: 100%;
    font-size: 12px;
}

/*Кнопки под выкройкой*/
.button_pattern {
    width: 100%;
}

/*Кнопки под деталями*/
.button_build {
    font-size: 12px;
    width: 40%;
    margin-right: 25px;
    margin-left: 25px;
}

/* Авторизация */
.authorization_registration {
    background: #fddde6;
    top: 0;
    left: 0;
    position: fixed;
    margin-left: 37%;
    margin-top: 2%;
    width: 30%;
    height: 50%;
    font-size: 15px;
    padding: 7px;
    border-radius: 10%;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Серый экран авторизации */
.gray_page {
    background: gray;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.95;
}

/*Блок выбора фильтра*/
.block_choice {
    background-color: #f1f1f1;
    border-left: 6px solid #e04386;
    padding: 10px 20px 25px 20px;
    width: 15.2%;
    display: block;
    float: left;
    margin-bottom: 6px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
}

/*Блок вывода выкроек*/
.pattern_view {
    margin-left: 20%;
    padding: 0 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pattern_info {
    display: flex;
    padding: 0 14px;
    justify-content: center;
}

.scheme_view {
    padding: 0 14px;
    display: flex;
    flex-wrap: wrap;
}

/*Поле каждой выкройки блока выкроек*/
.block {
    padding: 15px 20px;
    background: #d16192;
    border-radius: 10px;
    color: #fff;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    margin: 15px 15px;
    width: 190px;
}

.block_scheme {
    padding: 15px 20px;
    background: #d16192;
    border-radius: 10px;
    color: #fff;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    margin: 15px 15px;
}

.block_measure {
    display: block;
    float: left;
}

.block_detail {
    padding: 15px 20px;
    background: #d16192;
    border-radius: 10px;
    color: #fff;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    margin: 15px 15px;
}

/*-----------*/
/* ЗАГОЛОВКИ */
/*-----------*/

.title {
    margin: 15px;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.title-2 {
    font-size: 15px;
}

/*Содержимое поля каждой выкройки*/
.data {
    margin-right: 30px;
    display: block;
    width: 100%;
}

.fig {
    text-align: center;
}

.product-title {
    padding: 2px 15px;
    display: block;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-caption {
    display: block;
    padding: 0 20px;
    font-size: 12px;
    text-transform: uppercase;
}

.h {
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: transparent;
    margin: auto;
    cursor: pointer;
}

/*Панель администратора*/
.admin_panel {
    display: flex;
    flex-direction: row;
    height: 83vh;
    overflow: auto
}

.admin_panel_left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 15%;
    height: auto;
}

.admin_panel_right {
    background: white;
    display: flex;
    width: 81%;
    height: auto;
    margin-left: 2%;
    border-radius: 5px;
}

.admin_panel_right_data {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 5px;
}

.admin_panel_right_data_text {
    display: flex;
    width: auto;
    height: auto;
    margin-top: 1%;
    border-radius: 5px;
}

.admin_panel_button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: 2%;
    margin-bottom: 3%;
    cursor: pointer;
}

.admin_panel_button_small {
    width: 15%;
    border-radius: 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: 1%;
    cursor: pointer;
}

.admin_panel_right_data_two_buttons {
    display: flex;
    justify-content: space-between;
}

.admin_panel_right_data_list {
    overflow-y: auto;
    width: 100%;
    height: 80%;
    margin-top: 1%;
    border-radius: 5px;
    border: 2px solid #e3c3d4;
}

.admin_panel_right_data_list_small {
    overflow-y: auto;
    width: 100%;
    height: 36%;
    border-radius: 5px;
    border: 2px solid #e3c3d4;
}

.admin_panel_right_data_list_vertical_middle {
    overflow-y: auto;
    width: 40%;
    height: 95%;
    border-radius: 5px;
    border: 2px solid #e3c3d4;
}

.admin_panel_right_data_list_vertical_small {
    overflow-y: auto;
    width: 30%;
    height: 88%;
    border-radius: 5px;
    border: 2px solid #e3c3d4;
}

.admin_panel_right_data_list_two_table {
    display: flex;
    height: 94%;
}

.admin_panel_right_data_list_two_table_left {
    overflow-y: auto;
    width: 60%;
    height: 92%;
    margin-top: 1%;
    border-radius: 5px;
    border: 2px solid #e3c3d4;
}

.admin_panel_right_data_list_two_table_right {
    overflow-y: auto;
    width: 50%;
    height: 92%;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 5px;
    border: 2px solid #e3c3d4;
}

.admin_panel_right_data_two_table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 65vh;
}

.admin_panel_right_data_three_table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 65vh;
}

.admin_panel_error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    width: 40%;
    margin-right: 0;
    margin-top:-1px;
}

/*-----------*/
/*  ОТСТУПЫ  */
/*-----------*/

p2 {
    margin-top: 1.5%;
}

p3 {
    margin-bottom: 1.5%;
}

/*-------------------------*/
/*  ВСПЛЫВАЮЩИЕ ПОДСКАЗКИ  */
/*-------------------------*/

/* Контейнер подсказок */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* Если вы хотите, чтобы точки под перемещаемым текстом */
}

/* Текст подсказки */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 380px;
    background-color: rgba(85, 85, 85, 0.7);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    display: flex;

    /* Расположите текст подсказки */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 0;
    margin-left: -80px;

    /* Исчезают в подсказке */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*-------------------------*/
/* ПАНЕЛЬ ПОСТРОЕНИЯ СХЕМЫ */
/*-------------------------*/
.scheme_panel {
    background: #f1f1f1;
    display: flex;
    width: 99.5%;
    margin-left: 0.5%;
    height: max-content;
    border-radius: 5px;
}

*::before,
*::after {
    box-sizing: border-box;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs__links {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.tabs__links > a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    background-color: #f1f1f1;
    text-align: center;
}

.tabs__links > a:hover {
    background-color: rgba(227, 242, 253, 0.3);
}

.tabs > #content-1:target ~ .tabs__links > a[href="#content-1"],
.tabs > #content-2:target ~ .tabs__links > a[href="#content-2"]
{
    background-color: #fc6c85;
    color: #ffd1d9;
    cursor: default;
}

.tabs > div:not(.tabs__links) {
    display: none;
    order: 1;
}

@media (min-width: 576px) {
    .tabs {
        flex-direction: row;
    }

    .tabs__links {
        flex-direction: column;

        border: none;
        box-shadow: none;
    }

    .tabs__links > a {
        height: 20px;
        border-radius: 5px;
        box-shadow: 4px 5px rgba(0, 0, 0, 0.4);
        margin-bottom: 5%;
        cursor: pointer;
    }

    .tabs > div:not(.tabs__links) {
        padding-left: 10px;
    }
}

.tabs > div:target {
    display: block;
}

