body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background: #c6a7ab;
}

.active {
    background-color: #be5c6b;
    color: #af9799;
}

.active a:visited {
    color: #ffd1d9;
}

.cursor {
    cursor: pointer;
}

/*--------*/
/* КНОПКИ */
/*--------*/

/* Основа */
.button {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 12px;
    margin: 6px 0;
    cursor: pointer;
    background: #fffaf1;
    color: #2a1515;
}

.button:hover {
    background: #b47d82;
    color: #fffaf1;
}

.button_user:hover {
    background: #b47d82;
    color: #fffaf1;
}

.container_button {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.button_user {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 12px;
    margin: 6px 0;
    cursor: pointer;
    background-color: #fffaf1;
    color: #2a1515;
}


/*Кнопки под фильтром*/
.button_search {
    width: 100%;
    font-size: 12px;
    background-color: #fffaf1;
    color: #2a1515;
}

/*Кнопки под выкройкой*/
.button_pattern {
    width: 100%;
    background-color: #fffaf1;
    color: #2a1515;
}

/*Кнопки под деталями*/
.button_build {
    font-size: 12px;
    width: 40%;
    margin-right: 25px;
    margin-left: 25px;
}

/* Авторизация */
.authorization_registration {
    top: 0;
    left: 0;
    position: fixed;
    margin-left: 37%;
    margin-top: 2%;
    width: 30%;
    height: 50%;
    font-size: 15px;
    padding: 7px;
    border-radius: 10%;
}

/* Фоновый экран авторизации */
.gray_page {
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

/*Блок выбора фильтра*/
.block_choice {
    color: #2a1515;
    background-color: #f5ede1;
    border-left: 6px solid #b47d82;
    padding: 20px;
    width: 240px;
    height: max-content;
    display: block;
    float: left;
    margin-left: 15px;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

/*Блок вывода выкроек*/
.pattern_view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.pattern_info {
    display: flex;
    padding: 0 14px;
    justify-content: center;
}

.scheme_view {
    padding: 0 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Поле каждой выкройки блока выкроек*/
.block {
    padding: 10px 12px;
    background: #b47d82;
    border-radius: 10px;
    color: #fffaf1;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    margin: 14px 14px;
    width: 240px;
}

.block_scheme {
    padding: 15px 20px;
    background: #b47d82;
    border-radius: 10px;
    color: #fffaf1;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    margin: 15px 15px;
    text-align: center;
    height: min-content;
}

.block_measure {
    display: block;
    float: left;
}

.block_detail {
    padding: 15px 20px;
    background: #b47d82;
    border-radius: 10px;
    color: #fffaf1;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    margin: 15px 15px;
}

/*-----------*/
/* ЗАГОЛОВКИ */
/*-----------*/

.title {
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.title-1 {
    margin: 20px 15px -15px;
}

.title-2 {
    margin: 12px;
    font-size: 15px;
}

.title-3 {
    font-size: 14px;
    margin-bottom: 12px;
}

/*Содержимое поля каждой выкройки*/
/*.data {*/
/*    margin-right: 30px;*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/

/*.fig {*/
/*    text-align: center;*/
/*    line-height: 40px;*/
/*}*/

.complexity {
    width: 100%;
    text-align: center;
}

.product-title {
    padding: 2px 15px;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.outer {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
}

.product-caption {
    display: block;
    padding: 0 20px;
    font-size: 12px;
    text-transform: uppercase;

}

.clear_button {
    /*display: flex;*/
    justify-content: space-between;
    background: transparent;
    border: transparent;
    margin: auto;
    cursor: pointer;
}

.star {
    margin: 0;
    display: inline-block;
}

.error_personal {
    background-color: salmon;
}

/*Панель администратора*/
.admin_panel {
    display: flex;
    flex-direction: row;
    height: 84.5vh;
    overflow: auto;
    margin-left:6px;
}

.admin_panel_left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 15%;
    height: auto;
}

.admin_panel_right {
    background: #fffbfb;
    display: flex;
    width: 81%;
    height: auto;
    margin-left: 2%;
    border-radius: 5px;
}

.admin_panel_right_data {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 5px;
}

.admin_panel_right_data_text {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-top:0;
    justify-content: space-between;
}

.mt_admin_width {
    width: 40%
}

.admin_panel_button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: 2%;
    margin-bottom: 3%;
    cursor: pointer;
}

.admin_lists {
    margin-top: 115%
}

.admin_panel_button_small {
    width: 15%;
    border-radius: 10px;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: 1%;
    cursor: pointer;
}

.admin_panel_right_data_two_buttons {
    display: flex;
    justify-content: space-between;
}

.admin_panel_right_data_two_text_right {
    margin-right: 21%;
    margin-top: 1.5%;
}

.admin_panel_right_data_list {
    overflow-y: auto;
    width: 100%;
    height: 80%;
    margin-top: 1%;
    border-radius: 5px;
    border: 2px solid #b47d82;
}

.admin_panel_right_data_list_small {
    overflow-y: auto;
    width: 100%;
    height: 39.3%;
    border-radius: 5px;
    border: 2px solid #b47d82;
}

.admin_panel_right_data_list_vertical_middle {
    overflow-y: auto;
    width: 46%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #b47d82;
}

.admin_panel_right_data_list_vertical_small {
    overflow-y: auto;
    width: 30%;
    height: 88%;
    border-radius: 5px;
    border: 2px solid #b47d82;
}

.admin_panel_right_data_list_two_table {
    display: flex;
    height: 94%;
}

.admin_panel_right_data_list_two_table_left {
    overflow-y: auto;
    width: 40%;
    height: 96%;
    margin-top: 1%;
    border-radius: 5px;
    border: 2px solid #b47d82;
}

.admin_panel_right_data_list_two_table_right {
    overflow-y: auto;
    width: 60%;
    height: 96%;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 5px;
    border: 2px solid #b47d82;
}

.admin_panel_right_data_two_table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 65vh;
}

.admin_panel_right_data_three_table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 65vh;
}

.admin_panel_error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    width: 40%;
    margin-right: 0;
    margin-top: -1px;
    border-radius: 5px;
}

.error_user_param {
    overflow-y: auto;
    width: 100%;
    height: 100%
}

/*-------------------------*/
/*  ВСПЛЫВАЮЩИЕ ПОДСКАЗКИ  */
/*-------------------------*/

/* Контейнер подсказок */
.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* Если вы хотите, чтобы точки под перемещаемым текстом */
}

/* Текст подсказки */
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 380px;
    background-color: rgba(87, 40, 40, 0.71);
    color: #fffaf1;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    display: flex;

    /* Расположите текст подсказки */
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 0;
    margin-left: -80px;

    /* Исчезают в подсказке */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}

/*-------------------------*/
/* ПАНЕЛЬ ПОСТРОЕНИЯ СХЕМЫ */
/*-------------------------*/

*::before,
*::after {
    box-sizing: border-box;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.tabs__links {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.tabs__links > a {
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    background-color: #f5ede1;
    text-align: center;
}

.tabs__links > a:hover {
    background-color: rgba(227, 242, 253, 0.3);
}

.tabs > #content-1:target ~ .tabs__links > a[href="#content-1"],
.tabs > #content-2:target ~ .tabs__links > a[href="#content-2"] {
    background-color: #b47d82;
    color: #fffaf1;
    cursor: default;
}

.tabs > div:not(.tabs__links) {
    display: none;
    order: 1;
}

@media {
    .tabs {
        flex-direction: row;
    }

    .tabs__links {
        flex-direction: column;
        border: none;
        box-shadow: none;
    }

    .tabs__links > a {
        height: 32px;
        margin: 0 4% 8%;
        border-radius: 5px;
        box-shadow: 4px 5px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        color: #2a1515;
        width: 100%;
    }

    .tabs > div:not(.tabs__links) {
        padding-left: 5px;
    }
}

.tabs > div:target {
    display: block;
}

/*временный стиль, потом нужно удалить*/
.user_info {
    display: flex;
    flex-direction: row;
}

/*окно авторизации*/
.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
    box-shadow: none !important;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
}

.myform {
    padding: 2em;
    width: 100%;
    color: #fffaf1;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    background: #b47d82;
}

@media (max-width: 576px) {
    .myform {
        max-width: 90%;
        margin: 0 auto;
    }
}

.myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: #f5ede1;
    border-radius: 0;
    padding: 0.5em 0;
}

.myform .btn:hover {
    background-color: inherit;
    color: #fffaf1;
    border-color: #fffaf1;
}

.pattern_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user_profile_info {
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 5px;
}

.user_profile_info_buttons {
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.admin_button {
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.admin_button:hover {
    color: #b47d82;
}

.panel_success_message {
    color: rgba(15,81,50,0.71);
    background: rgba(209,231,221,0.71);
    border: 1px solid rgba(24,107,21,0.71);
    width: 40%;
    border-radius: 5px;
}


.button_menu{
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 12px;
    margin: 6px 0;
    cursor: pointer;
    color: #fffaf1;
    background: #b47d82;
}

.button_menu:hover {
    color: #fffaf1;
    background: rgba(122,68,68,0.71);
}

/*-------------*/
/* ИЗОБРАЖЕНИЯ */
/*-------------*/

.star_icon_scheme {
    width: 15px;
    height: 15px;
}

.heart_icon {
    width: 25px;
    height: 25px;
    margin: 10px;
}

.img_pattern {
    width: auto;
    height: 220px;
}

.img_scheme {
    width: auto;
    height: auto;
    max-width: 400px;
}

.table_measure{
    display: flex;
    justify-content: center;
}

.navbar-light {
   background: #f5ede1
}

.gender_size {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_info_pattern {
    width: auto;
    height: 100px;
}

.bottom {
    margin-top: 64vh;
}

.panel_right {
    background: #f5ede1;
    display: flex;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    margin-left: 4px;
    flex-wrap: wrap;
    justify-content: center;
}

.panel_left {
    width: 240px;
    margin-right: 15px;
}

.panel {
    width: 99%;
    display: flex;
    flex-direction: row;
    height: max-content;
    margin-top: 1%;
}

/*------------------------*/
/* ПЕРЕКАТЫВАНИЕ КАРТИНКИ */
/*------------------------*/

.change-photos {
    margin: auto;
    width: 60px;
    height: 100%;
}

.change-photos .clear_button img {
  object-fit: cover;
}

/* Сразу скрываем вторую картинку */
.change-photos .clear_button:nth-of-type(2) {
  display: none;
}

/* При наведении курсора на родительский класс change-photos первую картинку скрываем, а вторую показываем */
.change-photos:hover .clear_button:nth-of-type(1) {
  display: none;
}

.change-photos:hover .clear_button:nth-of-type(2) {
  display: block;
}

.category {
    margin-top: calc(1em - 4px);
    margin-bottom: calc(1em - 4px);
}

.star_icon {
    width: 18px;
    height: 18px;
    transition: 0.2s; /* Время эффекта */
}

.star_icon:hover {
    transform: scale(1.5); /* Увеличиваем масштаб */
}