<!DOCTYPE html>

<!--Общий макрос для вывода линий на панели администратора-->
{% macro admin_panel_line_list(line_list, len) %}
    {% for i in range(len(line_list)) %}
        <div class="admin_panel_right_data_text">
            {{ i+1 }}:
            ({{ line_list.loc[i, "x_first_coord"] }}, {{ line_list.loc[i, "y_first_coord"] }});
            ({{ line_list.loc[i, "x_second_coord"] }}, {{ line_list.loc[i, "y_second_coord"] }});
            {{ line_list.loc[i, "line_type"] }};
            {% if line_list.loc[i, "line_type"] == "curve" %}
                ({{ line_list.loc[i, "x_deviation"] }},
                {{ line_list.loc[i, "y_deviation"] }});
            {% endif %}
            {{ line_list.loc[i, "line_design"] }}
            <br>
        </div>
    {% endfor %}
{% endmacro %}

<!--Макрос для вывода категорий на панели администратора-->
{% macro admin_panel_category(category, len, checked_value) %}
    Добавление новой категории:
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text">
            <input type="text" name="new_category" placeholder="Введите название категории" style="width:100%">
            <input type="submit" name="add_category" value="+">
        </div>
    </form>
    <br>
    Список категорий:
    <br>

    <div class="admin_panel_right_data_list">
        {% for i in range(len(category)) %}
            <div class="admin_panel_right_data_text">
                {% if checked_value[1] == '' or checked_value[1] != i %}
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        {{ category.loc[i, "category_name"] }}
                        <input type="submit" name="is_edit_category" value="Изменить" style="margin-left:10px;">
                        <input type="hidden" name="is_edit_category_id" value= {{ i }}>
                    </form>
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Удалить" style="margin-left:10px;">
                        <input type="hidden" name="delete_category" value={{ category['category_id'].values[i] }}>
                    </form>
                {% else %}
                    {% if checked_value[1] == i %}
                        <form action="{{ url_for('admin_profile') }}" method="get">
                            <input type="text" name="edit_category_name"
                                   value='{{ category.loc[i, "category_name"] }}' style="width:40%">
                            <input type="submit" value="Сохранить изменения" style="margin-left:10px;">
                            <input type="hidden" name="edit_category" value={{ category['category_id'].values[i] }}>
                        </form>
                    {% endif %}
                {% endif %}
                <br>

            </div>
        {% endfor %}
    </div>
{% endmacro %}

<!--Макрос для вывода формул на панели администратора-->
{% macro admin_panel_formuls(formula_list, measure_list, len) %}
    Добавление новой формулы:
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text">
            <input type="text" name="new_formula_name" placeholder="Введите название формулы" style="width:50%">
            <input type="text" name="new_formula_value" placeholder="Введите формулу"
                   style="width:50%; margin-left:1%;">
            <input type="submit" name="add_formula" value="+">
        </div>
    </form>
    <br>
    Список формул:
    <br>
    <div class="admin_panel_right_data_list_small">
        {% for i in range(len(formula_list)) %}
            <div class="admin_panel_right_data_text">
                {{ formula_list['formula_name'].values[i] }} &emsp;:&emsp; {{ formula_list['formula_value'].values[i] }}
            </div>
        {% endfor %}
    </div>
    <br>
    Список мерок и их обозначений:
    <br>
    <div class="admin_panel_right_data_list_small">
        {% for i in range(len(measure_list)) %}
            <div class="admin_panel_right_data_text">
                {{ measure_list['measure_name'].values[i] }}
                &emsp;:&emsp; {{ measure_list['measure_full_name'].values[i] }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

<!--Макрос для вывода деталей на панели администратора-->
{% macro admin_panel_details(formula_list, measure_list, new_detail_list, len) %}
    Добавление новой детали:
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text">
            <input type="text" name="new_detail_name" placeholder="Введите название детали"
                   value="{{ new_detail_list[0] }}" style="width:100%">
        </div>
        <br>
        <div class="admin_panel_right_data_two_table">
            Список мерок и их обозначений:
            <div class="admin_panel_right_data_list_vertical_middle">
                {% for i in range(len(measure_list)) %}
                    <div class="admin_panel_right_data_text">
                        {% if measure_list['measure_name'].values[i] in new_detail_list[1] %}
                            <input type="checkbox" name="new_detail_measure"
                                   value="{{ measure_list['measure_name'].values[i] }}" checked>
                        {% else %}
                            <input type="checkbox" name="new_detail_measure"
                                   value="{{ measure_list['measure_name'].values[i] }}">
                        {% endif %}
                        {{ measure_list['measure_name'].values[i] }}
                        &emsp;:&emsp; {{ measure_list['measure_full_name'].values[i] }}
                    </div>
                {% endfor %}
            </div>
            Список формул и их обозначений:
            <div class="admin_panel_right_data_list_vertical_middle">
                {% for i in range(len(formula_list)) %}
                    <div class="admin_panel_right_data_text">

                        <input type="checkbox" name="new_detail_formula"
                               value="{{ formula_list['formula_name'].values[i] }}"
                                {% if formula_list["formula_name"].values[i] in new_detail_list[2] %}
                               checked>
                                {% else %}
                                    >
                                {% endif %}
                        {{ formula_list['formula_name'].values[i] }}
                        &emsp;:&emsp; {{ formula_list['formula_value'].values[i] }}


                    </div>
                {% endfor %}
            </div>
        </div>
        <input type="submit" name="panel" value="Добавить линии" class="admin_panel_button_small">
    </form>
{% endmacro %}

<!--Макрос для вывода выкроек на панели администратора-->
{% macro admin_panel_patterns(category_list, len) %}
    Добавление новой выкройки:
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text">
            <input type="text" name="" placeholder="Введите название выкройки" style="width:50%">
            <input type="text" name="" placeholder="Выберите файл" style="width:50%; margin-left:1%;">
            <input type="submit" name="" value="+">
        </div>

        <div class="admin_panel_right_data_three_table">
            <br>
            Список деталей:
            <div class="admin_panel_right_data_list_vertical_small">
                {% for i in range(40) %}
                    info
                    <br>
                {% endfor %}
            </div>
            <br>
            Список категорий:
            <div class="admin_panel_right_data_list_vertical_small">
                {% for i in range(len(category_list)) %}
                    <div class="admin_panel_right_data_text">
                        <input type="radio" name="new_pattern_category"> {{ category_list['category_name'].values[i] }}
                    </div>
                {% endfor %}
            </div>
            <br>
            Список 3D-моделей:
            <div class="admin_panel_right_data_list_vertical_small">
                {% for i in range(40) %}
                    info
                    <br>
                {% endfor %}
            </div>

        </div>
    </form>
{% endmacro %}

<!--Макрос для вывода 3D-моделей панели администратора-->
{% macro admin_panel_3D() %}
    Добавление новой 3D-модели:
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text">
            <input type="text" name="" placeholder="Введите название 3D-модели" style="width:50%">
            <input type="text" name="" placeholder="Выберите файл" style="width:50%; margin-left:1%;">
            <input type="submit" name="" value="+">
        </div>
    </form>
    <br>
    Список 3D-моделей:
    <br>
    <div class="admin_panel_right_data_list">
        {% for i in range(20) %}
            <div class="admin_panel_right_data_text">
                info
            </div>
        {% endfor %}
    </div>
{% endmacro %}

<!--Макрос для добавления линий деталей на панели администратора-->
{% macro admin_panel_new_line(new_detail_list, len) %}
    Список выбранных формул и их обозначений:
    <div class="admin_panel_right_data_list_small">
        {% for key in new_detail_list[2] %}
            <div class="admin_panel_right_data_text">
                {{ key }}
                &emsp;:&emsp; {{ new_detail_list[2][key] }}
            </div>
        {% endfor %}
    </div>
    <br>
    Добавление линий:
    <div class="admin_panel_right_data_list_small">
        <form action="{{ url_for('admin_profile') }}" method="get">
            <br>
            Координаты для первой точки:
            <input type="text" name="first_coord_x" placeholder="X">
            <input type="text" name="first_coord_y" placeholder="Y">
            <br><br>
            Координаты для второй точки:
            <input type="text" name="second_coord_x" placeholder="X">
            <input type="text" name="second_coord_y" placeholder="Y">
            <br><br>
            Тип линии:
            <input type="radio" name="line_type" value="Прямая"> Прямая
            <input type="radio" name="line_type" value="Кривая"> Кривая
            <br><br>
            Отклонение:
            <input type="text" name="x_deviation" placeholder="По X">
            <input type="text" name="y_deviation" placeholder="По Y">
            <br><br>
            Дизайн линии:
            <input type="radio" name="line_design" value="Обычная"> Обычная
            <input type="radio" name="line_design" value="Пунктирная"> Пунктирная
            <br>
            <input type="submit" name="panel" value="Добавить Линию">
        </form>
    </div>

    <form action="{{ url_for('admin_profile') }}" method="get">
        <input type="submit" name="panel" value="Выбрать мерки и формулы" class="admin_panel_button_small">
    </form>
    <form action="{{ url_for('admin_profile') }}" method="get">
        <input type="submit" name="panel" value="Просмотреть список линий" class="admin_panel_button_small">
    </form>
{% endmacro %}

<!--Макрос для вывода списка добавленных линий на панели администратора-->
{% macro admin_panel_all_new_lines(new_detail_line_list, len) %}
    Добавленные линии для детали:
    <div class="admin_panel_right_data_list">
    {% for i in new_detail_line_list %}
        <div class="admin_panel_right_data_text">
        {{ i[0] }}:
            ({{ i[1] }}, {{ i[2] }});
            ({{ i[3] }}, {{ i[4] }});
            {{ i[5] }};
            {% if i[5] == 'Кривая' %}
                ({{ i[6] }},
                {{ i[7] }});
            {% endif %}
            {{ i[8] }}
            <br>
        </div>
    {% endfor %}
    </div>
    <form action="{{ url_for('admin_profile') }}" method="get">
        <input type="submit" name="panel" value="Линии" class="admin_panel_button_small">
    </form>
    <form action="{{ url_for('admin_profile') }}" method="get">
        <input type="submit" name="panel" value="Просмотреть схему" class="admin_panel_button_small">
    </form>
{% endmacro %}

<!--Макрос для вывода списка всех линий на панели администратора-->
{% macro admin_panel_all_lines(line_list, len) %}
    Все линии для деталей:
    <div class="admin_panel_right_data_list">
        {{ admin_panel_line_list(line_list, len) }}
    </div>
{% endmacro %}

<!--Макрос для вывода схемы детали на панели администратора-->
{% macro admin_panel_scheme(len) %}
    Схема
    <div class="admin_panel_right_data_list">
        kek
    </div>
{% endmacro %}