<!DOCTYPE html>

<!--Макрос для вывода категорий на панели администратора-->
{% macro admin_panel_category(category, len, checked_value, error_info) %}

    <div class="admin_panel_right_data_text" style="margin-top:0; justify-content: space-between">
        Добавление новой категории:
        {% if error_info != '' %}
            <div class="admin_panel_error">
                {{ error_info }}
            </div>
        {% endif %}
    </div>
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text">
            <input type="text" name="new_category" placeholder="Введите название категории" style="width:100%">
            <input type="submit" name="add_category" value="+" style="cursor: pointer;">
        </div>
    </form>
    <p2> Список категорий:</p2>
    <div class="admin_panel_right_data_list">
        {% for i in range(len(category)) %}
            <div class="admin_panel_right_data_text">
                {% if checked_value[1] == '' or checked_value[1] != i %}
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        {{ category.loc[i, "category_name"] }}
                        <input type="submit" name="is_edit_category" value="Изменить"
                               style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="is_edit_category_id" value={{ i }}>
                    </form>
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Удалить"
                               style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="delete_category" value={{ category['category_id'].values[i] }}>
                    </form>
                {% else %}
                    {% if checked_value[1] == i %}
                        <form action="{{ url_for('admin_profile') }}" method="get">
                            <input type="text" name="edit_category_name"
                                   value='{{ category.loc[i, "category_name"] }}' style="width:40%">
                            <input type="submit" value="Сохранить изменения"
                                   style="margin-left:10px; cursor: pointer;">
                            <input type="hidden" name="edit_category" value={{ category['category_id'].values[i] }}>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

<!--Макрос для вывода формул на панели администратора-->
{% macro admin_panel_formuls(formula_list, measure_list, checked_value, error_info, len) %}
    <div class="admin_panel_right_data_text" style="margin-top:0; justify-content: space-between">
        Добавление новой формулы:
        {% if error_info != '' %}
            <div class="admin_panel_error">
                {{ error_info }}
            </div>
        {% endif %}
    </div>
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text">
            <input type="text" name="new_formula_name" placeholder="Введите название формулы" style="width:50%">
            <input type="text" name="new_formula_value" placeholder="Введите формулу"
                   style="width:50%; margin-left:1%;">
            <input type="submit" name="add_formula" value="+" style="cursor: pointer;">
        </div>
    </form>
    <div class="admin_panel_right_data_two_buttons">
        <p2>Список формул</p2>
        <p2>Список мерок</p2>
    </div>
    <div class="admin_panel_right_data_list_two_table" style="height:84%;">
        <div class="admin_panel_right_data_list_two_table_left" style="width: 72%">
            {% for i in range(len(formula_list)) %}
                <div class="admin_panel_right_data_text">
                    {% if checked_value[1] == '' or checked_value[1] != i %}
                        <form action="{{ url_for('admin_profile') }}" method="get">
                            {{ formula_list['formula_name'].values[i] }}
                            &emsp;:&emsp; {{ formula_list['formula_value'].values[i] }}
                            <input type="submit" name="is_edit_formula" value="Изменить"
                                   style="margin-left:10px; cursor: pointer;">
                            <input type="hidden" name="is_edit_formula_id" value={{ i }}>
                        </form>
                        <form action="{{ url_for('admin_profile') }}" method="get">
                            <input type="submit" value="Удалить"
                                   style="margin-left:10px; cursor: pointer;">
                            <input type="hidden" name="delete_formula" value={{ formula_list['formula_id'].values[i] }}>
                        </form>
                    {% else %}
                        {% if checked_value[1] == i %}
                            <form action="{{ url_for('admin_profile') }}" method="get">
                                <div class="admin_panel_right_data_text">
                                    <input type="text" name="edit_formula_name"
                                           value='{{ formula_list['formula_name'].values[i] }}' style="width:40%">
                                    <input type="text" name="edit_formula_value"
                                           value='{{ formula_list['formula_value'].values[i] }}' style="width:40%">
                                    <input type="submit" value="Сохранить изменения"
                                           style="margin-left:10px; cursor: pointer;">
                                    <input type="hidden" name="edit_formula"
                                           value={{ formula_list['formula_id'].values[i] }}>
                                </div>
                            </form>
                        {% endif %}
                    {% endif %}

                </div>
            {% endfor %}
        </div>


        <div class="admin_panel_right_data_list_two_table_right" style="width: 28%">
            {% for i in range(len(measure_list)) %}
                <div class="admin_panel_right_data_text">
                    {{ measure_list['measure_name'].values[i] }}
                    &emsp;:&emsp; {{ measure_list['measure_full_name'].values[i] }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<!--Макрос для вывода 3D-моделей панели администратора-->
{% macro admin_panel_3D() %}
    Добавление новой 3D-модели:
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text">
            <input type="text" name="" placeholder="Введите название 3D-модели" style="width:50%">
            <input type="text" name="" placeholder="Выберите файл" style="width:50%; margin-left:1%;">
            <input type="submit" name="" value="+" style="cursor: pointer;">
        </div>
    </form>
    <p2> Список 3D-моделей:</p2>
    <div class="admin_panel_right_data_list">
        {% for i in range(20) %}
            <div class="admin_panel_right_data_text">
                info
            </div>
        {% endfor %}
    </div>
{% endmacro %}

<!--Макрос для вывода деталей на панели администратора-->
{% macro admin_panel_details(formula_list, measure_list, new_detail_list, error_info, len) %}
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_text" style="margin-top:0; justify-content: space-between">
            {% if len(new_detail_list) == 0 or new_detail_list[4] == '' %}
                Добавление новой детали:
            {% else %}
                Редактирование детали:
            {% endif %}
            {% if error_info != '' %}
                <div class="admin_panel_error">
                    {{ error_info }}
                </div>
            {% endif %}
        </div>
        <div class="admin_panel_right_data_text">
            <input type="text" name="new_detail_name" placeholder="Введите название детали"
                   value="{{ new_detail_list[0] }}" style="width:50%">
            <input type="text" name="new_detail_size" placeholder="Введите эталонную длину (при наличии)"
                   value="{{ new_detail_list[1] }}" style="width:50%; margin-left: 1%">
        </div>
        <div class="admin_panel_right_data_two_table">
            Список мерок и их обозначений:
            <div class="admin_panel_right_data_list_vertical_middle">
                {% for i in range(len(measure_list)) %}
                    <div class="admin_panel_right_data_text">
                        {% if measure_list['measure_name'].values[i] in new_detail_list[2] %}
                            <input type="checkbox" name="new_detail_measure"
                                   value="{{ measure_list['measure_name'].values[i] }}" style="cursor: pointer;"
                                   checked>
                        {% else %}
                            <input type="checkbox" name="new_detail_measure"
                                   value="{{ measure_list['measure_name'].values[i] }}" style="cursor: pointer;">
                        {% endif %}
                        {{ measure_list['measure_name'].values[i] }}
                        &emsp;:&emsp; {{ measure_list['measure_full_name'].values[i] }}
                    </div>
                {% endfor %}
            </div>
            Список формул и их обозначений:
            <div class="admin_panel_right_data_list_vertical_middle">
                {% for i in range(len(formula_list)) %}
                    <div class="admin_panel_right_data_text">

                        <input type="checkbox" name="new_detail_formula"
                               value="{{ formula_list['formula_name'].values[i] }}" style="cursor: pointer;"
                                {% if formula_list["formula_name"].values[i] in new_detail_list[3] %}
                               checked>
                                {% else %}
                                    >
                                {% endif %}
                        {{ formula_list['formula_name'].values[i] }}
                        &emsp;:&emsp; {{ formula_list['formula_value'].values[i] }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="admin_panel_right_data_two_buttons">
            <input type="submit" name="add_detail_cancel" value="Отменить изменения" class="admin_panel_button_small">
            <input type="submit" name="panel" value="Добавить линии" class="admin_panel_button_small">
        </div>
    </form>
{% endmacro %}

<!--Макрос для добавления линий деталей на панели администратора-->
{% macro admin_panel_new_line(new_detail_list, new_detail_line_list, len) %}
    Список выбранных формул и их обозначений:
    <div class="admin_panel_right_data_list_small">
        {% for key in new_detail_list[3] %}
            <div class="admin_panel_right_data_text">
                {{ key }}
                &emsp;:&emsp; {{ new_detail_list[3][key] }}
            </div>
        {% endfor %}
    </div>
    {% if len(new_detail_line_list[len(new_detail_line_list)-1]) != 1 %}
        <p2> Добавление линии:</p2>
        <div class="admin_panel_right_data_list_small">
        <form action="{{ url_for('admin_profile') }}" method="get">
            <p>Координаты для первой точки:
                <input type="text" name="first_coord_x" placeholder="X">
                <input type="text" name="first_coord_y" placeholder="Y"></p>
            <p>Координаты для второй точки:
                <input type="text" name="second_coord_x" placeholder="X">
                <input type="text" name="second_coord_y" placeholder="Y">
                <p2>
                    <p>Отклонение:
                        <input type="text" name="x_deviation" placeholder="По X">
                        <input type="text" name="y_deviation" placeholder="По Y"></p>
                    <p2><input type="submit" name="add_detail_line" value="Добавить линию" style="cursor: pointer;">
                    </p2>
                </p2>
        </form>
    {% else %}
        {% set value = new_detail_line_list[len(new_detail_line_list)-1][0] %}
        <p2> Редактирование линии:</p2>
        <div class="admin_panel_right_data_list_small">
        <form action="{{ url_for('admin_profile') }}" method="get">
            <p>Координаты для первой точки:
                <input type="text" name="first_coord_x" placeholder="X" value="{{ new_detail_line_list[value][0] }}">
                <input type="text" name="first_coord_y" placeholder="Y" value="{{ new_detail_line_list[value][1] }}">
            </p>
            <p>Координаты для второй точки:
                <input type="text" name="second_coord_x" placeholder="X" value="{{ new_detail_line_list[value][2] }}">
                <input type="text" name="second_coord_y" placeholder="Y" value="{{ new_detail_line_list[value][3] }}">
                <p2>
                    <p>Отклонение:
                        <input type="text" name="x_deviation" placeholder="По X"
                               value="{{ new_detail_line_list[value][4] }}">
                        <input type="text" name="y_deviation" placeholder="По Y"
                               value="{{ new_detail_line_list[value][5] }}">
                    </p>
                    <p2><input type="submit" name="edit_detail_line" value="Редактировать линию"
                               style="cursor: pointer;">
                    </p2>
                </p2>
        </form>
    {% endif %}
</form>
</div>
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_two_buttons">
            <input type="submit" name="panel" value="Выбрать мерки и формулы" class="admin_panel_button_small">
            <input type="submit" name="panel" value="Просмотреть список линий" class="admin_panel_button_small">
        </div>
    </form>
{% endmacro %}

<!--Макрос для вывода списка добавленных линий на панели администратора-->
{% macro admin_panel_all_new_lines(new_detail_line_list, len) %}
    Добавленные линии для детали:
    <div class="admin_panel_right_data_list">
        {% for i in range(len(new_detail_line_list)) %}
            <div class="admin_panel_right_data_text">
                <div class="admin_panel_right_data_text">
                    {% set k = i+1 %}
                    {{ k }}:
                    ({{ new_detail_line_list[i][0] }}, {{ new_detail_line_list[i][1] }});
                    ({{ new_detail_line_list[i][2] }}, {{ new_detail_line_list[i][3] }});
                    {% if new_detail_line_list[i][4] != '' and new_detail_line_list[i][5] != '' %}
                        ({{ new_detail_line_list[i][4] }};
                        {{ new_detail_line_list[i][5] }});
                    {% endif %}
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Изменить" style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="edit_detail_new_line" value={{ i }}>
                    </form>
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Удалить" style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="delete_detail_new_line" value={{ i }}>
                </div>
                </form>
            </div>
        {% endfor %}
    </div>

    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_two_buttons">
            <input type="submit" name="panel" value="Линии" class="admin_panel_button_small">
            <input type="submit" name="panel" value="Просмотреть схему" class="admin_panel_button_small">
        </div>
    </form>
{% endmacro %}

<!--Макрос для вывода схемы детали на панели администратора-->
{% macro admin_panel_scheme(name_scheme, new_detail_list, len) %}
    Схема
    <div class="admin_panel_right_data_list">
        <p class="fig">
            <img src="{{ name_scheme }}" alt="" style="width: 450px; height: auto;">
        </p>
    </div>
    <form action="{{ url_for('admin_profile') }}" method="get">
        <div class="admin_panel_right_data_two_buttons">
            <input type="submit" name="panel" value="Список новых линий" class="admin_panel_button_small">
            {% if len(new_detail_list) == 0 or new_detail_list[4] == '' %}
                <input type="submit" name="add_new_detail" value="Добавить деталь" class="admin_panel_button_small">
            {% else %}
                <input type="submit" name="add_new_detail" value="Изменить деталь" class="admin_panel_button_small">
            {% endif %}
        </div>
    </form>
{% endmacro %}

<!--Макрос для вывода выкроек на панели администратора-->
{% macro admin_panel_patterns(pattern_list, category_list, detail_list, pattern_info, error_info, len) %}
    <div class="admin_panel_right_data_text" style="margin-top:0; justify-content: space-between">
        {% if pattern_info == ['',''] %}
            Добавление новой выкройки:
        {% else %}
            Редактирование выкройки:
        {% endif %}
        {% if error_info != '' %}
            <div class="admin_panel_error">
                {{ error_info }}
            </div>
        {% endif %}
    </div>
    <form action="{{ url_for('admin_profile') }}" method="get">
        {% if pattern_info == ['',''] %}
            <div class="admin_panel_right_data_text">
                <input type="text" name="new_pattern_name" placeholder="Введите название выкройки" style="width:50%">
                <input type="text" name="new_pattern_picture" placeholder="Выберите файл"
                       style="width:50%; margin-left:1%;">
            </div>
        {% else %}
            <div class="admin_panel_right_data_text">
                <input type="text" name="edit_pattern_name" placeholder="Введите название выкройки"
                       value='{{ pattern_list.loc[pattern_list['pattern_id'] == pattern_info[0]]['pattern_name'].values[0] }}'
                       style="width:50%">
                <input type="text" name="edit_pattern_picture" placeholder="Выберите файл"
                       value='{{ pattern_list.loc[pattern_list['pattern_id'] == pattern_info[0]]['picture'].values[0] }}'
                       style="width:50%; margin-left:1%;">
            </div>
        {% endif %}
        <div class="admin_panel_right_data_three_table">
            <p2> Список деталей:</p2>
            <div class="admin_panel_right_data_list_vertical_small">
                {% for i in range(len(detail_list)) %}
                    <div class="admin_panel_right_data_text">
                        <input type="checkbox" name="new_pattern_detail" style="cursor: pointer;"
                               value={{ detail_list['detail_id'].values[i] }}
                                       {% if pattern_info != ['',''] and detail_list['detail_name'].values[i] in pattern_info[1] %}
                                           checked
                                       {% endif %}
                        >
                        {{ detail_list['detail_name'].values[i] }}
                    </div>
                {% endfor %}
            </div>
            <p2> Список категорий:</p2>
            <div class="admin_panel_right_data_list_vertical_small">
                {% for i in range(len(category_list)) %}
                    <div class="admin_panel_right_data_text">
                        <input type="radio" name="new_pattern_category"
                               style="cursor: pointer;"
                               value={{ category_list['category_id'].values[i] }}
                                       {% if pattern_info != ['',''] and
                                       category_list['category_name'].values[i] == pattern_list.loc[pattern_list['pattern_id'] == pattern_info[0]]['category_name'].values[0] %}
                                           checked
                                       {% endif %}
                        > {{ category_list['category_name'].values[i] }}
                    </div>
                {% endfor %}
            </div>
            <p2> Список 3D-моделей:</p2>
            <div class="admin_panel_right_data_list_vertical_small">
            </div>
        </div>

        <div class="admin_panel_right_data_two_buttons">
            {% if pattern_info != ['',''] %}
                <input type="submit" name="edit_pattern_cancel" value="Назад" class="admin_panel_button_small">
                <input type="submit" name="edit_pattern" value="Изменить выкройку" class="admin_panel_button_small">
                <input type="hidden" name="edit_pattern_id" value={{ pattern_info[0] }}>
            {% else %}
                <input type="submit" name="add_pattern_cancel" value="Отменить" class="admin_panel_button_small">
                <input type="submit" name="add_new_pattern" value="Добавить выкройку" class="admin_panel_button_small">
            {% endif %}
        </div>
    </form>
{% endmacro %}

<!--Макрос для вывода всех выкроек на панели администратора-->
{% macro admin_panel_all_patterns(pattern_list, pattern_info, len) %}
    Выкройки:
    <div class="admin_panel_right_data_list_two_table">
        <div class="admin_panel_right_data_list_two_table_left">
            {% for i in range(len(pattern_list)) %}
                <p>
                <div class="admin_panel_right_data_text">
                    {{ pattern_list['pattern_name'].values[i] }}
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Изменить"
                               style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="one_pattern_edit" value={{ pattern_list['pattern_id'].values[i] }}>
                    </form>
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Удалить"
                               style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="one_pattern_delete" value={{ pattern_list['pattern_id'].values[i] }}>
                    </form>
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Подробнее"
                               style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="one_pattern_info" value={{ pattern_list['pattern_id'].values[i] }}>
                    </form>
                </div>
                </p>
            {% endfor %}
        </div>
        <div class="admin_panel_right_data_list_two_table_right">
            {% if pattern_info[0] != '' %}
                <p> Сложность:
                    {{ pattern_list.loc[pattern_list['pattern_id'] == pattern_info[0]]['complexity'].values[0] }}</p>
                <p> Изображение:
                    {{ pattern_list.loc[pattern_list['pattern_id'] == pattern_info[0]]['picture'].values[0] }}</p>
                <p class="fig">
                    <img src="{{ pattern_list.loc[pattern_list['pattern_id'] == pattern_info[0]]['picture'].values[0] }}"
                         alt="" width="auto" height="250px">
                </p>
                <p> Название:
                    {{ pattern_list.loc[pattern_list['pattern_id'] == pattern_info[0]]['pattern_name'].values[0] }}</p>
                <p> Категория:
                    {{ pattern_list.loc[pattern_list['pattern_id'] == pattern_info[0]]['category_name'].values[0] }}</p>

                <p> Детали:
                    {% if pattern_info[1][0] != "error" %}
                        {% for detail in pattern_info[1] %}
                            <li> {{ detail }}</li>
                        {% endfor %}
                    {% else %}
                        Детали отсутствуют
                    {% endif %}

                </p>
            {% endif %}
        </div>
    </div>
{% endmacro %}


<!--Макрос для вывода всех деталей на панели администратора-->
{% macro admin_panel_all_detail(detail_list, detail_info, len) %}
    Детали:
    <div class="admin_panel_right_data_list_two_table">
        <div class="admin_panel_right_data_list_two_table_left">
            {% for i in range(len(detail_list)) %}
                <p>
                <div class="admin_panel_right_data_text">
                    {{ detail_list['detail_name'].values[i] }}
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Изменить"
                               style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="one_detail_edit" value={{ detail_list['detail_id'].values[i] }}>
                    </form>
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Удалить"
                               style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="one_detail_delete" value={{ detail_list['detail_id'].values[i] }}>
                    </form>
                    <form action="{{ url_for('admin_profile') }}" method="get">
                        <input type="submit" value="Подробнее"
                               style="margin-left:10px; cursor: pointer;">
                        <input type="hidden" name="one_detail_info" value={{ detail_list['detail_id'].values[i] }}>
                    </form>
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="admin_panel_right_data_list_two_table_right">
            {% if detail_info != ['',''] %}
                <p> Название:
                    {{ detail_info[0] }}
                </p>
                <p> Эталонная длина:
                    {% if detail_info[1] != '' %}
                        {{ detail_info[1] }}
                    {% else %}
                        отсутствует
                    {% endif %}
                </p>
                <p> Мерки:
                    {% if len(detail_info[2]) == 0 %}
                        отсутствуют
                    {% else %}
                        {% for i in range(len(detail_info[2])) %}
                            <li>{{ detail_info[2].values[i][1] }}
                                ({{ detail_info[2].values[i][2] }})
                            </li>
                        {% endfor %}
                    {% endif %}
                </p>

                <p> Формулы:
                    {% if len(detail_info[3]) == 0 %}
                        отсутствуют
                    {% else %}
                        {% for i in range(len(detail_info[3])) %}
                            <li>{{ detail_info[3].values[i][0] }}
                                ({{ detail_info[3].values[i][1] }})
                            </li>
                        {% endfor %}
                    {% endif %}
                </p>
                <p> Линии:
                    {% if len(detail_info[4]) == 0 %}
                        отсутствуют
                    {% else %}
                        {% for i in range(len(detail_info[4])) %}
                            <p>( {{ detail_info[4].values[i][0] }} ; {{ detail_info[4].values[i][1] }} )
                                <br>
                                ( {{ detail_info[4].values[i][2] }} ; {{ detail_info[4].values[i][3] }} )
                                {% if detail_info[4].values[i][4] != '' and detail_info[4].values[i][5] != '' %}
                                    <br>
                                    ( {{ detail_info[4].values[i][4] }} ; {{ detail_info[4].values[i][5] }} )
                                {% endif %}
                                <br>
                            </p>
                        {% endfor %}
                    {% endif %}
                </p>
            {% endif %}
        </div>
    </div>
{% endmacro %}