<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>{{ title }}</title>
    {% import "macros_general.html" as macros_general %}
    {% import "catalog_favorites_macros.html" as macros %}
</head>
<body>

{{ macros_general.render_menu(user_role) }}

{% if is_authorization == True %}
{{ macros_general.authorization(user_data_error, auth_form) }}
{% endif %}

{% if is_registration == True %}
{{ macros_general.registration(user_data_error, reg_form) }}
{% endif %}


{% if title == "Список избранного" %}
    {% if favorite_list == [] %}
        {% if choice_category == [] and choice_complexity == [] %}
            Список избранного пуст
        {% else %}
            {{ macros.render_block_choice(category, choice_category, choice_complexity, len, str) }}
            Ничего не найдено
        {% endif %}
    {% else %}
        {{ macros.render_block_choice(category, choice_category, choice_complexity, len, str) }}
    {% endif %}
{% else %}
    {{ macros.render_block_choice(category, choice_category, choice_complexity, len, str) }}
        {% if len(pattern) == 0 %}
            Ничего не найдено
        {% endif %}
{% endif %}

<div class="pattern_view">
    {{ macros.render_pattern(pattern, len, favorite_list, page, user_role) }}
</div>

</body>
</html>