<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>{{ title }}</title>
    {% import "macros_general.html" as macros_general %}
    {% import "catalog_favorites_macros.html" as macros %}
</head>
<body>

{{ macros_general.render_menu(user_role) }}

{% if is_authorization == True %}
{{ macros_general.authorization(user_data_error, auth_form) }}
{% endif %}

{% if is_registration == True %}
{{ macros_general.registration(user_data_error, reg_form) }}
{% endif %}

<div class="catalog">
    <div class="block_choice">
        <form action="{{url_for('catalog_favorites')}}" method="post">
            {{ macros.render_block_choice(category, choice_category, choice_complexity, len, str) }}
            <div class=key_search>
                <input type="submit" name="search" value="Показать" class="key_button_search">
                <input type="submit" name="clear" value="Очистить" class="key_button_search">
            </div>
        </form>
    </div>

    {{ title }}
    {% if favorite_list == [] %}
        {% if choice_category == [] and choice_complexity == [] %}
            Список избранного пуст
        {% else %}
            Ничего не найдено
        {% endif %}
    {% else %}
        <div class="pattern_view">
            {{ macros.render_pattern(pattern, len, favorite_list, page, user_role) }}
        </div>
    {% endif %}

</div>

</body>
</html>