<!DOCTYPE html>

<!--Генерация формы выбора категории-->
{% macro render_block_choice(category, choice_category, choice_complexity, len, str) %}
<div class="catalog">
    <div class="block_choice">
        <form action="{{url_for('catalog_favorites')}}" method="post">
            <p><b>Категории:</b></p>
            {% for i in range(len(category)) %}
            <p>
                {% set value=category.loc[i, "category_name"] %}
                {% if value in choice_category %}
                <input type="checkbox" name="category" value="{{ value }}" class="cursor" checked>
                {% else %}
                <input type="checkbox" name="category" value="{{ value }}" class="cursor">
                {% endif %}
                {{ value }}
            </p>
            {% endfor %}

            <p><b>Сложность:</b></p>
            {% for i in range(5) %}
            <p>
                <input type="checkbox" name="complexity" value="{{ i + 1 }}" class="cursor"
                       {% if str(i + 1) in choice_complexity %} checked {% endif %}>
                {% for j in range(i + 1) %}
                <img src="/static/image/icons/shaded_star_icon.png" alt="" width="18px" height="18px">
                {% endfor %}

                {% for j in range(5 - (i + 1)) %}
                <img src="/static/image/icons/empty_star_icon.png" alt="" width="18px" height="18px">
                {% endfor %}
            </p>
            {% endfor %}

            <div>
                <input type="submit" name="search" value="Показать" class="button button_search">
                <input type="submit" name="clear" value="Очистить" class="button button_search">
            </div>
        </form>
    </div>
</div>
{% endmacro %}

<!--Макрос для вывода выкроек-->
{% macro render_pattern(pattern, len, favorite_list, page, user_role) %}
{% for i in range(len(pattern)) %}
<div class="block">
    <div class="data">
        {% for name in pattern.dtypes.index %}
        {% if name != "ID" %}

        <p class="fig">
            {% set value=pattern.loc[i, name] %}

            {% if name == "Сложность" %}
            {% for i in range(value) %}
            <img src="/static/image/icons/shaded_star_icon.png" alt="" width="18px" height="18px">
            {% endfor %}

            {% for j in range(5 - value) %}
            <img src="/static/image/icons/empty_star_icon.png" alt="" width="18px" height="18px">
            {% endfor %}

            {% elif name == "Изображение" %}
            <img src="{{value}}" alt="" width="auto" height="250px">

            {% elif name == "Название" %}
            <span class="product-title">{{ value }}</span>

            {% elif name == "Категория" %}
            <span class="product-caption">{{ value }}</span>

            {% else %}
            <b>{{ name }}: </b>{{ value }}
            {% endif %}
            {% endif %}

        {% endfor %}
        {% if user_role != "admin" %}
        <form action={{url_for('catalog_favorites')}} method="get">
            {% if pattern.loc[i, 'ID'] in favorite_list %}
            <button type="submit" name="shaded" value=" " class="h">
                <img width="25px" height="25px" alt="" src="/static/image/icons/shaded_heart_icon.png">
            </button>
            {% else %}
            <button type="submit" name="empty" value=" " class="h">
                <img width="25px" height="25px" alt="" src="/static/image/icons/empty_heart_icon.png">
            </button>
            {% endif %}
            <label>
                <input hidden type="text" name="pattern" value="{{ pattern.loc[i, 'ID'] }}">
            </label>
        </form>
        {% endif %}
       </p>
        <form action={{url_for('scheme')}} method="get">
            <button type="submit" name="scheme" class="button button_pattern"> Построить
                <input hidden type="text" name="pattern" value="{{ pattern.loc[i, 'ID'] }}">
            </button>
        </form>

    </div>
</div>
{% endfor %}
{% endmacro %}
