<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Каталог</title>
    {% import "macros.html" as macros %}
</head>
<body>

{{ macros.render_menu(user_role) }}

{% if is_authorization == True %}
{{ macros.authorization(user_data_error, auth_form) }}
{% endif %}

{% if is_registration == True %}
{{ macros.registration(user_data_error, reg_form) }}
{% endif %}

<div class="catalog">
    <div class="block_choice">
        <form action="{{url_for('catalog')}}" method="post">
            {{ macros.render_block_choice(category, choice_category, choice_complexity, len, str) }}
            <div class=key_search>
                <input type="submit" name="search" value="Показать" class="key_button_search">
                <input type="submit" name="clear" value="Очистить" class="key_button_search">
            </div>
        </form>
    </div>

    <div class="pattern_view">
        {{ macros.render_pattern(pattern, len, favorite_list, "catalog") }}
    </div>

</div>

</body>
</html>