<!DOCTYPE html>

<!--Генерация формы выбора категории-->
{% macro render_block_choice(category, choice_category, choice_complexity, new_complexity, len, str, reversed) %}
<div class="catalog">
    <div class="block_choice mt-3">
        <form action="{{url_for('catalog_favorites')}}" method="post">

            <div class="title title-3">
                Категории
            </div>

            {% for i in range(len(category)) %}
            <p class="category">
                {% set value=category.loc[i, "category_name"] %}
                {% if value in choice_category %}
                <input type="checkbox" name="category" value="{{ value }}" class="cursor" checked>
                {% else %}
                <input type="checkbox" name="category" value="{{ value }}" class="cursor">
                {% endif %}
                {{ value }}
            </p>
            {% endfor %}

            <div class="title title-3 mt-4">
                Сложность
            </div>

            {% if new_complexity != 0 %}
                {% set choice_complexity = new_complexity %}
            {% endif %}

            <p class="complexity">

                {% for i in range(choice_complexity) %}
                <button type="submit" name="complexity" value="{{ i + 1 }}" class="clear_button star">
                    <img alt="" src="/static/image/icons/shaded_star_icon.png" class="star_icon">
                </button>
                {% endfor %}

                <input hidden type="text" name="complexity_shaded" value="{{ choice_complexity }}">

                {% for i in reversed(range(5 - choice_complexity)) %}
                <button type="submit" name="complexity" value="{{ 5 - i }}" class="clear_button star">
                    <img alt="" src="/static/image/icons/empty_star_icon.png" class="star_icon">
                </button>
                {% endfor %}
            </p>

            <div>
                <input type="submit" name="search" value="Показать" class="button button_search">
                <input type="submit" name="clear" value="Очистить" class="button button_search">
            </div>
        </form>
    </div>
</div>
{% endmacro %}

<!--Макрос для вывода выкроек-->
{% macro render_pattern(pattern, len, favorite_list, page, user_role) %}
{% for i in range(len(pattern)) %}
<div class="block">

    <div class="outer" style="height: 60px;">
        <span class="product-title">
            {{ pattern.loc[i, 'Название'] }}
        </span>
    </div>

    <div class="outer" style="height: 30px;">
        <span class="product-caption">
            {{ pattern.loc[i, 'Категория'] }}
        </span>
    </div>

    <img src="{{ pattern.loc[i, 'Изображение'] }}" alt="" class="img_pattern">

    <div class="complexity">
        {% set value = pattern.loc[i, 'Сложность'] %}
        {% for i in range(value) %}
            <img src="/static/image/icons/shaded_star_icon.png" alt="" class="star_icon_scheme">
        {% endfor %}
    </div>

    {% if user_role != "admin" %}
        <form action="{{url_for('catalog_favorites')}}" method="get">
            {% if pattern.loc[i, 'ID'] in favorite_list %}

            <div class="change-photos">
                    <button type="submit" name="shaded" value=" " class="clear_button">
                        <img alt="" src="/static/image/icons/shaded_heart_icon.png" class="heart_icon">
                    </button>

                    <button type="submit" name="empty" value=" " class="clear_button">
                        <img alt="" src="/static/image/icons/empty_heart_icon.png" class="heart_icon">
                    </button>
            </div>

            {% else %}

            <div class="change-photos">
                <button type="submit" name="empty" value=" " class="clear_button">
                    <img alt="" src="/static/image/icons/empty_heart_icon.png" class="heart_icon">
                </button>

                <button type="submit" name="shaded" value=" " class="clear_button">
                    <img alt="" src="/static/image/icons/shaded_heart_icon.png" class="heart_icon">
                </button>
            </div>

            {% endif %}
            <input hidden type="text" name="pattern" value="{{ pattern.loc[i, 'ID'] }}">
        </form>
    {% endif %}

    <form action="{{url_for('scheme')}}#content-1" method="get">
        <button type="submit" name="scheme" class="button button_pattern"> Построить
            <input hidden type="text" name="pattern" value="{{ pattern.loc[i, 'ID'] }}">
            <input hidden type="text" name="page" value="#content-1">
        </button>
    </form>
</div>
{% endfor %}
{% endmacro %}
