<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Каталог</title>
    {% import "macros.html" as macros %}
</head>
<body>

<div class=menu>
    <ul>
        <li class=active><a href={{url_for("catalog")}}>Каталог</a></li>
        <li><a>Список избранного</a></li>

        {% if user_session == False %}
        <form action="" method="get">
            <input type="submit" name="authorization_button" value="Войти"
                   style="background:#fc6c85; color: #fff0f5; height:100%; border: none;">
        </form>
        {% else %}
        {% if user_role == "admin" %}
        <li class=active><a href={{url_for("admin_profile")}}>Личный кабинет</a></li>
        {% else %}
        <li class=active><a href={{url_for("profile")}}>Личный кабинет</a></li>
        {% endif %}
        {% endif %}
    </ul>
</div>

{% if is_authorization == True %}
    {{ macros.authorization() }}
{% endif %}

{% if is_registration == True %}
    {{ macros.registration() }}
{% endif %}

<div class="catalog">
    <div class="block_choice">
        <form action="{{url_for('catalog')}}" method="post">
            {{ macros.render_block_choice(category, choice_category, choice_complexity, len, str) }}
            <div class=key_search>
                <input type="submit" name="search" value="Показать" class="key_button_search">
                <input type="submit" name="clear" value="Очистить" class="key_button_search">
            </div>
        </form>
    </div>

    <div class="pattern_view">
        {{ macros.render_pattern(pattern, len) }}
    </div>

</div>

</body>
</html>