<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Список избранного</title>
    {% import "macros.html" as macros %}
</head>
<body>

{{ macros.render_menu(user_role) }}

{% if is_authorization == True %}
{{ macros.authorization(user_data_error, auth_form) }}
{% endif %}

{% if is_registration == True %}
{{ macros.registration(user_data_error, reg_form) }}
{% endif %}

{% if favorite_list == [] %}
    Список избранного пуст
{% else %}
    <div class="pattern_view">
        {{ macros.render_pattern(pattern, len, favorite_list) }}
    </div>
{% endif %}

</body>
</html>