<!DOCTYPE html>

{% macro render_menu(user_role) %}
<div class=menu>
    <ul>
        <li class=active><a href={{url_for("catalog")}}>Каталог</a></li>
        {% if user_role == 'guest' %}
        <form action="" method="get">
            <input type="submit" name="authorization_button" value="Войти"
                   style="background:#fc6c85; color: #fff0f5; height:100%; border: none;">
        </form>
        {% else %}
        {% if user_role == 'admin' %}
        <li class=active><a href={{ url_for("admin_profile")}}>Личный кабинет</a></li>
        {% else %}
         <li><a href={{url_for("favorites")}}>Список избранного</a></li>
        <li class=active><a href={{ url_for("user_profile")}}>Личный кабинет</a></li>
        {% endif %}
        {% endif %}
    </ul>
</div>
{% endmacro %}

<!--Авторизация пользователя-->
<!--поле для заполнения (логин, пароль и т.д.)-->
{% macro render_field(field) %}
{{ field.label }}
{{ field(**kwargs)|safe }}
{% endmacro %}

<!--окно авторизации-->
{% macro authorization(user_data_error,auth_form) %}

<div class="gray_page">
</div>
<div class="authorization_registration">
    <input type="submit" value="Выйти" onclick="location.href='/';" style="width:12%; height:10%;">
    Войдите в аккаунт:
    <form action="" method="get">
        {{ render_field(auth_form.auth_login) }}
        <br>
        {{ render_field(auth_form.auth_password) }}
        <br>
        {% if user_data_error != "" %}
        {{user_data_error}}
        {% endif %}
        <br>
        <input type="submit" value="Авторизоваться" name="authorization_user_button"
               style="width:70%; height:20%; margin-top:20%;">
    </form>
    <form action="" method="get">
        <input type="submit" value="Создать аккаунт" name="registration_button"
               style="width:70%; height:100%;margin-top:5%;">
    </form>
</div>
{% endmacro %}

<!--Регистрация пользователя-->
{% macro registration(user_data_error, reg_form) %}
<div class="gray_page">
</div>
<div class="authorization_registration">
    <input type="submit" value="Выйти" onclick="location.href='/';" style="width:12%; height:10%;">
    Создайте аккаунт:
    <form action="" method="get">
        {{ render_field(reg_form.reg_login) }}
        <br>
        {{ render_field(reg_form.reg_password) }}
        <br>
        {{ render_field(reg_form.password_confirm) }}
        <br>
        {% if user_data_error != "" %}
        {{user_data_error}}
        {% endif %}
        <br>
        <input type="submit" value="Зарегистрироваться" name="registration_user_button"
               style="width:70%; height:20%; margin-top:20%;">
    </form>
    <form action="" method="get">
        <input type="submit" value="Уже есть аккаунт" name="authorization_button"
               style="width:70%; height:100%;margin-top:5%;">
    </form>
</div>
{% endmacro %}

<!--Генерация формы выбора категории-->
{% macro render_block_choice(category, choice_category, choice_complexity, len, str) %}
<p><b>Категории:</b></p>
{% for i in range(len(category)) %}
<p>
    {% set value=category.loc[i, "category_name"] %}
    {% if value in choice_category %}
    <input type="checkbox" name="category" value="{{ value }}" checked>
    {% else %}
    <input type="checkbox" name="category" value="{{ value }}">
    {% endif %}
    {{ value }}
</p>
{% endfor %}

<p><b>Сложность:</b></p>
{% for i in range(5) %}
<p>
    <input type="checkbox" name="complexity" value="{{ i + 1 }}"
           {% if str(i + 1) in choice_complexity %} checked {% endif %}>
    {% for j in range(i + 1) %}
    <img src="/static/image/icons/shaded_star_icon.png" alt="" width="18px" height="18px">
    {% endfor %}

    {% for j in range(5 - (i + 1)) %}
    <img src="/static/image/icons/empty_star_icon.png" alt="" width="18px" height="18px">
    {% endfor %}
</p>
{% endfor %}
{% endmacro %}

<!--Макрос для вывода выкроек-->
{% macro render_pattern(pattern, len, favorite_list) %}
{% for i in range(len(pattern)) %}
<div class="block">
    <div class="data">
        {% for name in pattern.dtypes.index %}
        {% if name != "ID" %}

        <p class="fig">
            {% set value=pattern.loc[i, name] %}

            {% if name == "Сложность" %}
                {% for i in range(value) %}
                    <img src="/static/image/icons/shaded_star_icon.png" alt="" width="18px" height="18px">
                {% endfor %}

                {% for j in range(5 - value) %}
                    <img src="/static/image/icons/empty_star_icon.png" alt="" width="18px" height="18px">
                {% endfor %}

            {% elif name == "Изображение" %}
                <img src="{{value}}" alt="" width="auto" height="310px">

            {% elif name == "Название" %}
                <span class="product-title">{{ value }}</span>

            {% elif name == "Категория" %}
                <span class="product-caption">{{ value }}</span>

            {% else %}
                <b>{{ name }}: </b>{{ value }}
            {% endif %}
        {% endif %}
            </p>
        {% endfor %}

        <a class="h">
            <img width="25px" height="25px" alt="" {% if pattern.loc[i, 'ID'] in favorite_list %} src="/static/image/icons/shaded_heart_icon.png"
            {% else %} src="/static/image/icons/empty_heart_icon.png" {% endif %}>
        </a>

    </div>
</div>
{% endfor %}
{% endmacro %}

<!--кнопка выход-->
{% macro exit() %}
<form action={{url_for('catalog')}} method="get">
    <input type="submit" name="exit_button" value="Выйти"
           style="background:#fc6c85; color: #fff0f5; height:100%; border: none;">
</form>
{% endmacro %}

<!--Макрос для вывода информации о пользователе-->
{% macro render_data_user(data_user, len) %}
<table>
    {% for i in range(len(data_user)) %}
    {% for name in data_user.dtypes.index %}
    <tr>
        <td>{{ name }}:</td>
        <td>
            <input type="text" name="data_user" class="write_personal"
                   placeholder="{{ data_user.loc[i, name] }}" value="{{ data_user.loc[i, name] }}">

        {% endfor %}
        </td>
    </tr>
    {% endfor %}

</table>
{% endmacro %}

<!--Макрос для вывода параметров пользователя-->
{% macro render_param_user(param_user, error_param, len) %}
<table>
    {% for i in range(len(param_user)) %}
    <tr>
        <td>
            {{ param_user.loc[i, "param_full_name"] }}
            ({{ param_user.loc[i, "param_name"] }}):
        </td>
        <td>
            {% if error_param[i] != 'q' and error_param != [] %}
            <input type="text" name="param_user" class="error_personal"
                   {% if param_user.loc[i,"param_value"] == '' %} placeholder=''
            {% else %} placeholder={{param_user.loc[i,"param_value"]}} {% endif %} value={{error_param[i]}}>
            {% else %}
            <input type="text" name="param_user" class="write_personal"
                   {% if param_user.loc[i,"param_value"] != '' %}
            placeholder={{param_user.loc[i,"param_value"]}} value={{param_user.loc[i,"param_value"]}}
            {% else %} placeholder='' value='' {% endif %}>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endmacro %}