<!DOCTYPE html>

{% macro render_menu(user_role) %}
<div class=menu>
    <ul>
        <li class=active><a href={{url_for("catalog")}}>Каталог</a></li>
        {% if user_role == 'guest' %}
        <form action="" method="get">
            <input type="submit" name="authorization_button" value="Войти"
                   style="background:#fc6c85; color: #fff0f5; height:100%; border: none;">
        </form>
        {% else %}
        {% if user_role == 'admin' %}
        <li class=active><a href={{ url_for("admin_profile")}}>Личный кабинет</a></li>
        {% else %}
        <li><a href={{url_for("favorites")}}>Список избранного</a></li>
        <li class=active><a href={{ url_for("user_profile")}}>Личный кабинет</a></li>
        {% endif %}
        {% endif %}
    </ul>
</div>
{% endmacro %}

<!--Авторизация пользователя-->
<!--поле для заполнения (логин, пароль и т.д.)-->
{% macro render_field(field) %}
{{ field.label }}
{{ field(**kwargs)|safe }}
{% endmacro %}

<!--окно авторизации-->
{% macro authorization(user_data_error,auth_form) %}

<div class="gray_page">
</div>
<div class="authorization_registration">
    <input type="submit" value="Выйти" onclick="location.href='/';" style="width:12%; height:10%;">
    Войдите в аккаунт:
    <form action="" method="get">
        {{ render_field(auth_form.auth_login) }}
        <br>
        {{ render_field(auth_form.auth_password) }}
        <br>
        {% if user_data_error != "" %}
        {{user_data_error}}
        {% endif %}
        <br>
        <input type="submit" value="Авторизоваться" name="authorization_user_button"
               style="width:70%; height:20%; margin-top:20%;">
    </form>
    <form action="" method="get">
        <input type="submit" value="Создать аккаунт" name="registration_button"
               style="width:70%; height:100%;margin-top:5%;">
    </form>
</div>
{% endmacro %}

<!--Регистрация пользователя-->
{% macro registration(user_data_error, reg_form) %}
<div class="gray_page">
</div>
<div class="authorization_registration">
    <input type="submit" value="Выйти" onclick="location.href='/';" style="width:12%; height:10%;">
    Создайте аккаунт:
    <form action="" method="get">
        {{ render_field(reg_form.reg_login) }}
        <br>
        {{ render_field(reg_form.reg_password) }}
        <br>
        {{ render_field(reg_form.password_confirm) }}
        <br>
        {% if user_data_error != "" %}
        {{user_data_error}}
        {% endif %}
        <br>
        <input type="submit" value="Зарегистрироваться" name="registration_user_button"
               style="width:70%; height:20%; margin-top:20%;">
    </form>
    <form action="" method="get">
        <input type="submit" value="Уже есть аккаунт" name="authorization_button"
               style="width:70%; height:100%;margin-top:5%;">
    </form>
</div>
{% endmacro %}

<!--Генерация формы выбора категории-->
{% macro render_block_choice(category, choice_category, choice_complexity, len, str) %}
<p><b>Категории:</b></p>
{% for i in range(len(category)) %}
<p>
    {% set value=category.loc[i, "category_name"] %}
    {% if value in choice_category %}
    <input type="checkbox" name="category" value="{{ value }}" checked>
    {% else %}
    <input type="checkbox" name="category" value="{{ value }}">
    {% endif %}
    {{ value }}
</p>
{% endfor %}

<p><b>Сложность:</b></p>
{% for i in range(5) %}
<p>
    <input type="checkbox" name="complexity" value="{{ i + 1 }}"
           {% if str(i + 1) in choice_complexity %} checked {% endif %}>
    {% for j in range(i + 1) %}
    <img src="/static/image/icons/shaded_star_icon.png" alt="" width="18px" height="18px">
    {% endfor %}

    {% for j in range(5 - (i + 1)) %}
    <img src="/static/image/icons/empty_star_icon.png" alt="" width="18px" height="18px">
    {% endfor %}
</p>
{% endfor %}
{% endmacro %}

<!--Макрос для вывода выкроек-->
{% macro render_pattern(pattern, len, favorite_list, page, user_role) %}
{% for i in range(len(pattern)) %}
<div class="block">
    <div class="data">
        {% for name in pattern.dtypes.index %}
        {% if name != "ID" %}

        <p class="fig">
            {% set value=pattern.loc[i, name] %}

            {% if name == "Сложность" %}
            {% for i in range(value) %}
            <img src="/static/image/icons/shaded_star_icon.png" alt="" width="18px" height="18px">
            {% endfor %}

            {% for j in range(5 - value) %}
            <img src="/static/image/icons/empty_star_icon.png" alt="" width="18px" height="18px">
            {% endfor %}

            {% elif name == "Изображение" %}
            <img src="{{value}}" alt="" width="auto" height="310px">

            {% elif name == "Название" %}
            <span class="product-title">{{ value }}</span>

            {% elif name == "Категория" %}
            <span class="product-caption">{{ value }}</span>

            {% else %}
            <b>{{ name }}: </b>{{ value }}
            {% endif %}
            {% endif %}
        </p>
        {% endfor %}
        {% if user_role != "admin" %}
        {% if page == "catalog" %}
        <form action={{url_for('catalog')}} method="get">
            {% elif page == "favorites" %}

            <form action={{url_for('favorites')}} method="get">
                {% endif %}
                {% if pattern.loc[i, 'ID'] in favorite_list %}
                <button type="submit" name="shaded" value=" " class="h">
                    <img width="25px" height="25px" alt="" src="/static/image/icons/shaded_heart_icon.png">
                </button>
                {% else %}
                <button type="submit" name="empty" value=" " class="h">
                    <img width="25px" height="25px" alt="" src="/static/image/icons/empty_heart_icon.png">
                </button>
                {% endif %}
                <label>
                    <input hidden type="text" name="pattern" value="{{ pattern.loc[i, 'ID'] }}">
                </label>
            </form>
            {% endif %}
    </div>
</div>
{% endfor %}
{% endmacro %}

<!--кнопка выход-->
{% macro exit() %}
<form action={{url_for('catalog')}} method="get">
    <input type="submit" name="exit_button" value="Выйти"
           style="background:#fc6c85; color: #fff0f5; height:10%; border: none;">
</form>
{% endmacro %}

<!--Макрос для вывода информации о пользователе-->
{% macro render_data_user(data_user, len) %}
<table>
    {% for i in range(len(data_user)) %}
    {% for name in data_user.dtypes.index %}
    <tr>
        <td>{{ name }}:</td>
        <td>
            <input type="text" name="data_user" class="write_personal"
                   placeholder="{{ data_user.loc[i, name] }}" value="{{ data_user.loc[i, name] }}">

            {% endfor %}
        </td>
    </tr>
    {% endfor %}

</table>
{% endmacro %}

<!--Макрос для вывода параметров пользователя-->
{% macro render_param_user(param_user, error_param, len) %}
<table>
    {% for i in range(len(param_user)) %}
    <tr>
        <td>
            {{ param_user.loc[i, "param_full_name"] }}
            ({{ param_user.loc[i, "param_name"] }}):
        </td>
        <td>
            {% if error_param[i] != 'q' and error_param != [] %}
            <input type="text" name="param_user" class="error_personal"
                   {% if param_user.loc[i,"param_value"] == '' %} placeholder=''
            {% else %} placeholder={{param_user.loc[i,"param_value"]}} {% endif %} value={{error_param[i]}}>
            {% else %}
            <input type="text" name="param_user" class="write_personal"
                   {% if param_user.loc[i,"param_value"] != '' %}
            placeholder={{param_user.loc[i,"param_value"]}} value={{param_user.loc[i,"param_value"]}}
            {% else %} placeholder='' value='' {% endif %}>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endmacro %}

<!--Макрос для вывода категорий на панели администратора-->
{% macro admin_panel_category(category, len, checked_value) %}
Добавление новой категории:
<form action="{{url_for('admin_profile')}}" method="get">
    <div class="admin_panel_right_data_text">
        <input type="text" name="new_category" placeholder="Введите название категории" style="width:100%">
        <input type="submit" name="add_category" value="+">
    </div>
</form>
<br>
Список категорий:
<br>

<div class="admin_panel_right_data_list">
    {% for i in range(len(category)) %}
    <div class="admin_panel_right_data_text">
        {{ category.loc[i, "category_name"] }}
        {% if checked_value == False %}
        <form action="{{url_for('admin_profile')}}" method="get">
            <input type="submit" name="is_edit_category" value="Изменить" style="margin-left:10px;">
        </form>
        <form action="{{url_for('admin_profile')}}" method="get">
            <input type="submit" value="Удалить" style="margin-left:10px;">
            <input type="hidden" name="delete_category" value={{ category['category_id'].values[i] }}>
        </form>
        {% else %}
        <form action="{{url_for('admin_profile')}}" method="get">
            <input type="text" name="edit_category_name" placeholder="" style="margin-left:10px; width:40%">
            <input type="submit" value="Изменить" style="margin-left:10px;">
            <input type="hidden" name="edit_category" value={{ category['category_id'].values[i] }}>
        </form>
        {% endif %}
        <br>

    </div>
    {% endfor %}
</div>

{% endmacro %}

<!--Макрос для вывода формул на панели администратора-->
{% macro admin_panel_formuls() %}
Добавление новой формулы:
<form action="{{url_for('admin_profile')}}" method="get">
    <div class="admin_panel_right_data_text">
        <input type="text" name="" placeholder="Введите название формулы" style="width:50%">
        <input type="text" name="" placeholder="Введите формулу" style="width:50%; margin-left:1%;">
        <input type="submit" name="" value="+">
    </div>
</form>
<br>
Список формул:
<br>
<div class="admin_panel_right_data_list_small">
    {% for i in range(10) %}
    <div class="admin_panel_right_data_text">
        info
    </div>
    {% endfor %}
</div>
<br>
Список мерок и их обозначений:
<br>
<div class="admin_panel_right_data_list_small">
    {% for i in range(10) %}
    <div class="admin_panel_right_data_text">
        info
    </div>
    {% endfor %}
</div>
{% endmacro %}

<!--Макрос для вывода деталей на панели администратора-->
{% macro admin_panel_details() %}
Добавление новой детали:
<form action="{{url_for('admin_profile')}}" method="get">
    <div class="admin_panel_right_data_text">
        <input type="text" name="" placeholder="Введите название детали" style="width:100%">
        <input type="submit" name="" value="+">
    </div>
</form>
<br>
{% endmacro %}

<!--Макрос для вывода выкроек на панели администратора-->
{% macro admin_panel_patterns() %}
Добавление новой выкройки:
<form action="{{url_for('admin_profile')}}" method="get">
    <div class="admin_panel_right_data_text">
        <input type="text" name="" placeholder="Введите название выкройки" style="width:100%">
        <input type="submit" name="" value="+">
    </div>
</form>
{% endmacro %}

<!--Макрос для вывода 3D-моделей панели администратора-->
{% macro admin_panel_3D() %}
Добавление новой 3D-модели:
<form action="{{url_for('admin_profile')}}" method="get">
    <div class="admin_panel_right_data_text">
        <input type="text" name="" placeholder="Введите название 3D-модели" style="width:50%">
        <input type="text" name="" placeholder="Выберите файл" style="width:50%; margin-left:1%;">
        <input type="submit" name="" value="+">
    </div>
</form>
<br>
Список 3D-моделей:
<br>
<div class="admin_panel_right_data_list">
    {% for i in range(20) %}
    <div class="admin_panel_right_data_text">
        info
    </div>
    {% endfor %}
</div>
{% endmacro %}