<!DOCTYPE html>

<!--Макрос для вывода данных выкройки-->
{% macro render_pattern_info(pattern) %}
    <div class="block_scheme">
        <div class="data">
            <p class="fig">
                <span class="product-title">{{ pattern.loc[0, "Название"] }}</span>
            </p>
            <p class="fig">
                <span class="product-caption">{{ pattern.loc[0, "Категория"] }}</span>
            </p>

            <p class="fig">
                <img src="{{ pattern.loc[0,'Изображение']}}" alt="" style="max-width: 100%;">
            </p>
        </div>
    </div>
{% endmacro %}

<!--Макрос для вывода построенных схем выкройки-->
{% macro render_pattern_scheme(name_scheme_detail) %}
{% for name in name_scheme_detail %}
<div class="block_scheme">
    <div class="data">
        <p class="fig">
            <img src="{{name}}" alt="" style="width: 350px; height: auto;">
        </p>
    </div>
</div>
{% endfor %}
{% endmacro %}

<!--Макрос для вывода мерок схемы выкройки по деталям с параметрами пользователя-->
{% macro render_measure_detail(measure, param, standard_size, info_param, len, zip, str) %}
{% for i in range(len(measure)) %}
    <div class="block_detail">
        {% set measure = measure.iloc[i] %}

        <div class="title title-2">
            <p>Детали "{{ measure["Название_детали"] }}":</p>
        </div>

        {% set full_title = measure["Полное_название"].split(",") %}
        {% set designation = measure["Обозначение"].split(",") %}

        <table style="display: flex; justify-content: center;">
            {% for full_title, designation in zip(full_title, designation) %}
            <tr>
                <td>
                    {{ full_title }} ({{ designation }}):
                    <label>
                        <input hidden type="text" name="param_designation" value="{{ designation }}">
                        <input hidden type="text" name="detail" value="{{ measure['ID'] }}">
                    </label>
                </td>

                <td>
                    {% if designation not in param["Обозначение"].unique() %}
                        {% if designation == 'ДИ' and standard_size != 'base' %}
                            <label>
                                <input type="text" name="param_value" class="write_personal"
                                       value="{{ measure['Длина_детали'] }}"
                                       placeholder="{{ measure['Длина_детали'] }}">
                            </label>
                        {% else %}
                            <label>
                                <input type="text" name="param_value" class="write_personal" value=""
                                       placeholder="необходимо заполнить">
                            </label>
                        {% endif %}

                    {% else %}

                    {% for j in range(len(param)) %}
                    {% if param.loc[j, 'Обозначение'] == designation %}
                        {% if (param.loc[j, 'ID'] == str(measure['ID']) and 'ID' in param.columns) or 'ID' not in param.columns %}
                            <label>
                                {% if param.loc[j, "Значение"] != '' %}
                                <input type="text" name="param_value" class="write_personal"
                                       value="{{ param.loc[j, 'Значение']}}" placeholder="{{ param.loc[j, 'Значение']}}">
                                {% else %}
                                <input type="text" name="param_value" class="write_personal" value=""
                                       placeholder="необходимо заполнить">
                                {% endif %}
                            </label>
                        {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                </td>

                <td>
                    <div class="tooltip">?
                        <span class="tooltiptext">
                            <table style="display: flex; justify-content: center;">
                                <tr>
                                    <td>
                                        {{ info_param.loc[(info_param['Обозначение'] == designation)]['Информация_о_параметрах'].values[0] }}
                                    </td>
                                    <td>
                                        <img src="{{ info_param.loc[(info_param['Обозначение'] == designation)]['Изображение'].values[0] }}"
                                             alt="" style="width: auto; height: 100px;">
                                    </td>
                                </tr>
                            </table>
                        </span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}

<div class="container_button">
    <input type="submit" name="build_scheme" value="Построить" class="button button_build">
    <input type="submit" {% if standard_size == 'base' %} value="Отменить изменения"
    {% else %} value="Вернуть свои параметры" {% endif %}
    onclick="window.location.reload()" class="button button_build">
</div>
{% endmacro %}

<!--Макрос для вывода мерок схемы выкройки с параметрами пользователя-->
{% macro render_measure_pattern(measure_name, measure_full_name, details_lengths, param, standard_size, info_param, len, zip) %}
    <div class="block_detail">
        <table style="display: flex; justify-content: center;">

            {% for designation, full_title, length in zip(measure_name, measure_full_name, details_lengths) %}

            <tr>
                <td>
                    {{ full_title }} ({{ designation }}):
                    <label>
                        <input hidden type="text" name="param_designation" value="{{designation}}">
                    </label>
                </td>

                <td>
                    {% if designation not in param["Обозначение"].unique() %}
                        {% if designation == 'ДИ' and standard_size != 'base' %}
                            <label>
                                <input type="text" name="param_value" class="write_personal"
                                       value="{{ length }}"
                                       placeholder="{{ length }}">
                            </label>
                        {% else %}
                            <label>
                                <input type="text" name="param_value" class="write_personal" value=""
                                       placeholder="необходимо заполнить">
                            </label>
                        {% endif %}

                    {% else %}

                    {% for j in range(len(param) + 1) %}
                        {% if designation == param.loc[j, "Обозначение"] %}
                            <label>
                                {% if (designation == 'ДИ' and full_title == param.loc[j, "Полное_название"]) or designation != 'ДИ' %}
                                    {% if param.loc[j, "Значение"] != '' %}
                                        <input type="text" name="param_value" class="write_personal"
                                               value="{{ param.loc[j, 'Значение'] }}" placeholder="{{ param.loc[j, 'Значение'] }}">

                                    {% else %}

                                        <input type="text" name="param_value" class="write_personal" value=""
                                               placeholder="необходимо заполнить">
                                    {% endif %}
                                {% endif %}
                            </label>
                        {% endif %}
                    {% endfor %}

                    {% endif %}
                </td>

                <td>
                    <div class="tooltip">?
                        <span class="tooltiptext">
                            <table style="display: flex; justify-content: center;">
                                <tr>
                                    <td>
                                        {{ info_param.loc[(info_param['Обозначение'] == designation)]['Информация_о_параметрах'].values[0] }}
                                    </td>
                                    <td>
                                        <img src="{{ info_param.loc[(info_param['Обозначение'] == designation)]['Изображение'].values[0] }}"
                                             alt="" style="width: auto; height: 100px;">
                                    </td>
                                </tr>
                            </table>
                        </span>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

<div class="container_button">
    <input type="submit" name="build_scheme" value="Построить" class="button button_build">
    <input type="submit" {% if standard_size == 'base' %} value="Отменить изменения"
    {% else %} value="Вернуть свои параметры" {% endif %}
    onclick="window.location.reload()" class="button button_build">
</div>
{% endmacro %}