<!DOCTYPE html>

<!--Макрос для вывода данных выкройки-->
{% macro render_pattern_info(pattern) %}
    <div class="block_scheme">
        <div class="data">
            <p class="fig">
                <span class="product-title">{{ pattern.loc[0, "Название"] }}</span>
            </p>
            <p class="fig">
                <span class="product-caption">{{ pattern.loc[0, "Категория"] }}</span>
            </p>

            <p class="fig">
                <img src="{{ pattern.loc[0,'Изображение']}}" alt="">
            </p>
        </div>
    </div>
{% endmacro %}

<!--Макрос для вывода построенных схем выкройки-->
{% macro render_pattern_scheme(name_scheme) %}
{% for name in name_scheme %}
<div class="block_scheme">
    <div class="data">
        <p class="fig">
            <img src="{{name}}" alt="" style="width: 350px; height: auto;">
        </p>
        <p class="fig">
            <a href="{{name}}" download>
                <input type="button" value="Скачать изображение" class="button button_search">
            </a>
        </p>
    </div>
</div>
{% endfor %}
{% endmacro %}

<!--Макрос для вывода мерок схемы выкройки с параметрами пользователя-->
{% macro render_measure_pattern(measure, param, standard_size, len, zip) %}
{% for i in range(len(measure)) %}
    <div class="block_detail">
        {% set measure = measure.iloc[i] %}

        <div class="title title-2">
            <p>Детали "{{ measure["Название_детали"] }}":</p>
        </div>

        {% set full_title = measure["Полное_название"].split(",") %}
        {% set designation = measure["Обозначение"].split(",") %}

        <table style="display: flex; justify-content: center;">
            {% for full_title, designation in zip(full_title, designation) %}
            <tr>
                <td>
                    {{ full_title }} ({{ designation }}):
                    <label>
                        <input hidden type="text" name="param_designation" value="{{designation}}">
                        <input hidden type="text" name="detail" value="{{ measure['ID'] }}">
                    </label>
                </td>

                <td>
                    {% if designation not in param["Обозначение"].unique() %}
                        {% if designation in ['ДИ', 'ДР'] and standard_size != 'base' %}
                            {% if measure['ID'] in [1, 2] %}
                                <label>
                                    <input type="text" name="param_value" class="write_personal"
                                           value="{{ param.loc[(param['Обозначение'] == 'ДН')]['Значение'].values[0] }}"
                                           placeholder="{{ param.loc[(param['Обозначение'] == 'ДН')]['Значение'].values[0] }}">
                                </label>
                            {% elif measure['ID'] == 3 %}
                                <label>
                                    <input type="text" name="param_value" class="write_personal"
                                           value="{{ param.loc[(param['Обозначение'] == 'ДВ')]['Значение'].values[0] }}"
                                           placeholder="{{ param.loc[(param['Обозначение'] == 'ДВ')]['Значение'].values[0] }}">
                                </label>
                            {% elif measure['ID'] == 4 %}
                                <label>
                                    <input type="text" name="param_value" class="write_personal"
                                           value="{{ param.loc[(param['Обозначение'] == 'ДР')]['Значение_'].values[0] }}"
                                           placeholder="{{ param.loc[(param['Обозначение'] == 'ДР')]['Значение'].values[0] }}">
                                </label>
                            {% elif measure['ID'] == 5 %}
                                <label>
                                    <input type="text" name="param_value" class="write_personal"
                                           value="{{ param.loc[(param['Обозначение'] == 'ДЛ')]['Значение'].values[0] }}"
                                           placeholder="{{ param.loc[(param['Обозначение'] == 'ДЛ')]['Значение'].values[0] }}">
                                </label>
                            {% else %}
                                <label>
                                    <input type="text" name="param_value" class="write_personal" value=""
                                           placeholder="необходимо заполнить">
                                </label>
                            {% endif %}
                        {% else %}
                            <label>
                                <input type="text" name="param_value" class="write_personal" value=""
                                       placeholder="необходимо заполнить">
                            </label>
                        {% endif %}

                    {% else %}


                    {% for j in range(len(param)) %}
                        {% if param.loc[j, "Обозначение"] == designation %}
                            {% if ('ID' in param.columns and param.loc[j, 'ID'] == measure['ID']) or 'ID' not in param.columns %}
                                <label>
                                    {% if param.loc[j, "Значение"] != '' %}
                                    <input type="text" name="param_value" class="write_personal"
                                           value="{{ param.loc[j, 'Значение']}}" placeholder="{{ param.loc[j, 'Значение']}}">
                                    {% else %}
                                    <input type="text" name="param_value" class="write_personal" value=""
                                           placeholder="необходимо заполнить">
                                    {% endif %}
                                </label>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}

<div class="container_button">
    <input type="submit" name="build_scheme" value="Построить" class="button button_build">
    <input type="submit" {% if standard_size == 'base' %} value="Отменить изменения"
    {% else %} value="Вернуть свои параметры" {% endif %}
    onclick="window.location.reload()" class="button button_build">
</div>
{% endmacro %}