<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Схема</title>
    {% import "macros_general.html" as macros_general %}
    {% import "scheme_macros.html" as macros %}
</head>
<body>

{{ macros_general.render_menu(user_role) }}

{% if is_authorization == True %}
    {{ macros_general.authorization(user_data_error, auth_form) }}
{% endif %}

{% if is_registration == True %}
    {{ macros_general.registration(user_data_error, reg_form) }}
{% endif %}

<div class="tabs">
    <div id="content-1">
        <div class="scheme_panel">
            <div class="block_measure">
                <form action="{{ url_for('scheme') }}#content-1" method="post">
                    <div class="title">
                        <p>Мерки выкройки "{{ pattern.loc[0, "Название"] }}":</p>
                    </div>

                    <label>
                        <input hidden type="text" name="pattern" value="{{ pattern.loc[0, 'ID'] }}">
                        <input hidden type="text" name="page" value="#content-1">
                    </label>

                    {{ macros.render_measure_pattern(measure_name, measure_full_name, details_lengths, param_1, standard_size_1, info_param, error_info, len, zip) }}

                    <div class="title title-2">
                        <p>Автозаполнение типовыми параметрами</p>
                    </div>

                    <label style="  display: flex; justify-content: center; align-items: center;">
                        <input type="radio" name="gender_size-1" value="param_value_w"
                                {% if gender_size_1 == 'param_value_w' %} checked {% endif %}>Женский размер
                        <input type="radio" name="gender_size-1" value="param_value_m" class="ms-5"
                                {% if gender_size_1 == 'param_value_m' %} checked {% endif %}>Мужской размер
                    </label>

                    <div class="container_button mt-3">
                        <input type="submit" name="fill_standard_param" value="XS" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="S" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="M" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="L" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="XL" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="XXL" class="button button_build">
                    </div>
                </form>
            </div>

            {% if len(error_info[0]) == 0 %}
                {% if checked_value_1 != True %}
                    <div class="pattern_info">
                        {{ macros.render_pattern_info(pattern) }}
                    </div>
                {% else %}
                    <div class="scheme_view">
                        {{ macros.render_pattern_scheme(name_scheme_detail_1) }}
                    </div>
                {% endif %}
            {% else %}
                <div class="admin_panel_error mt-2 mb-2">
                    {% for i in range(len(error_info[0])) %}
                        <p class="ms-2 mt-2">{{ error_info[0][i] }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div id="content-2">
        <div class="scheme_panel">
            <div class="block_measure">
                <form action="{{ url_for('scheme') }}#content-2" method="post">
                    <div class="title">
                        <p>Мерки выкройки "{{ pattern.loc[0, "Название"] }}":</p>
                    </div>

                    <label>
                        <input hidden type="text" name="pattern" value="{{ pattern.loc[0, 'ID'] }}">
                        <input hidden type="text" name="page" value="#content-2">
                    </label>

                    {{ macros.render_measure_detail(measure, param_2, standard_size_2, info_param, error_info, len, zip, str) }}

                    <div class="title title-2">
                        <p>Автозаполнение типовыми параметрами</p>
                    </div>

                    <label style="  display: flex; justify-content: center; align-items: center;">
                        <input type="radio" name="gender_size-2" value="param_value_w"
                                {% if gender_size_2 == 'param_value_w' %} checked {% endif %}>Женский размер
                        <input type="radio" name="gender_size-2" value="param_value_m" class="ms-5"
                                {% if gender_size_2 == 'param_value_m' %} checked {% endif %}>Мужской размер
                    </label>

                    <div class="container_button mt-3">
                        <input type="submit" name="fill_standard_param" value="XS" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="S" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="M" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="L" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="XL" class="button button_build">
                        <input type="submit" name="fill_standard_param" value="XXL" class="button button_build">
                    </div>
                </form>
            </div>

            {% if len(error_info[1]) == 0 %}
                {% if checked_value_2 != True %}
                    <div class="pattern_info">
                        {{ macros.render_pattern_info(pattern) }}
                    </div>
                {% else %}
                    <div class="scheme_view">
                        {{ macros.render_pattern_scheme(name_scheme_detail_2) }}
                    </div>
                {% endif %}
            {% else %}
                <div class="admin_panel_error mt-2 mb-2">
                    {% for i in range(len(error_info[1])) %}
                        <p class="ms-2 mt-2">{{ error_info[1][i] }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="tabs__links">
        <a href="#content-1">Ввести мерки для всей выкройки</a>
        <a href="#content-2">Ввести мерки для каждой детали</a>

        {% if name_scheme_pattern != '' and len(error_info[0]) == 0 and len(error_info[1]) == 0 %}
            <a href="{{ name_scheme_pattern }}" download>Скачать схему выкройки</a>
        {% endif %}
    </div>

</div>

</body>
</html>
