<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Личный кабинет</title>
    {% import "macros_general.html" as macros_general %}
    {% import "user_profile_macros.html" as macros %}
</head>
<body>

{{ macros_general.render_menu(user_role) }}

<div class="user_profile_panel mt-3 ms-3">
    <form action="{{ url_for('user_profile') }}" method="post">
        <p><b>Личные данные</b></p>
        {{ macros.render_data_user(data_user, len) }}
            <p><b>Мерки тела</b></p>
            <div class = "user_info">
            {{ macros.render_param_user(param_user, error_param, len) }}
            {% if len(error_param[1]) != 0 %}
                <div class="admin_panel_error" style="margin-left: 5%; overflow-y: scroll; height: 40vh;">
                    {% for elem in error_param[1] %}
                        <p>{{ elem }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            <input type="submit" name="save" value="Сохранить изменения" class="button_user">
            <br><br>
            <input type="button" value="Отменить изменения" class="button_user"
                   onclick="window.location='{{ url_for('user_profile') }}'">
            <br><br>
        </div>
    </form>

    <form action="{{ url_for('catalog_favorites') }}" method="get">
        <input type="submit" name="remove_profile_button" value="Удалить аккаунт"
               disabled="disabled" class="button_user">
    </form>
{{ macros_general.exit() }}
</div>
</body>
</html>