<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Личный кабинет</title>
    {% import "macros_general.html" as macros_general %}
    {% import "user_profile_macros.html" as macros %}
</head>
<body>

{{ macros_general.render_menu(user_role) }}

<div>
    <form action="{{url_for('user_profile')}}" method="post">
        <p><b>Личные данные</b></p>
        {{ macros.render_data_user(data_user, len) }}
        <p><b>Мерки тела</b></p>
        {{ macros.render_param_user(param_user, error_param, len) }}

        <div>
            <input type="submit" name="save" value="Сохранить изменения" class="key_button">
            <br><br>
            <input type="button" value="Отменить изменения" class="key_button"
                   onclick="window.location='{{url_for('user_profile')}}'">
            <br><br>
        </div>
    </form>

    <form action="{{url_for('catalog_favorites')}}" method="get">
        <input type="submit" name="remove_profile_button" value="Удалить аккаунт" disabled="disabled">
    </form>
</div>

{{ macros_general.exit() }}
</body>
</html>