<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Личный кабинет</title>
    {% import "macros_general.html" as macros_general %}
    {% import "user_profile_macros.html" as macros %}
</head>
<body>

{{ macros_general.render_menu(user_role) }}

<div class="panel">
    <div class="panel_left">
        <div class="tabs__links">
            <a href="#content-1">Основные данные</a>
            <a href="#content-2">Дополнительные данные</a>
        </div>

        <div>
            <form action="{{ url_for('catalog_favorites') }}" method="get">
                <input type="submit" name="remove_profile_button" value="Удалить аккаунт" class="button_user bottom">
            </form>
            <p class="mt-4">{{ macros_general.exit() }}</p>
        </div>
    </div>

    <div class="panel_right">
        <div class="tabs">
            <div id="content-1">
                <form action="{{ url_for('user_profile') }}#content-1" method="post">
                    <div class="user_profile_info">
                        <p><b>Личные данные</b></p>
                        {{ macros.render_data_user(data_user, len) }}
                    </div>

                    <div class="user_profile_info">
                        <p><b>Основные мерки тела</b></p>
                        <div class="user_info">
                            {{ macros.render_param_user(param_user, error_param, info_param, len, 'осн', 'осн') }}
                        </div>
                    </div>

                    <div class="user_profile_info">
                        {% if len(error_param[1]) == 0  and error_param[2] == 'осн' %}
                            <div class="alert alert-success d-flex align-items-center" role="alert">
                                <i class="bi bi-check-circle-fill"></i>
                                <div class="ms-2">
                                    Данные успешно сохранены
                                </div>
                            </div>
                        {% endif %}

                        {% if len(error_param[1]) != 0  and error_param[2] == 'осн' %}
                            <div class="admin_panel_error error_user_param">
                                {% for elem in error_param[1] %}
                                    <p>{{ elem }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="user_profile_info_buttons">
                        <input type="submit" value="Отменить изменения" class="button_user">
                        <input type="submit" name="save" value="Сохранить изменения" class="button_user">
                    </div>
                </form>
            </div>


            <div id="content-2">
                <form action="{{ url_for('user_profile') }}#content-2" method="post">
                    <div class="user_profile_info">
                        <p><b>Дополнительные мерки тела</b></p>
                        <div class="user_info">
                            {{ macros.render_param_user(param_user, error_param, info_param, len, 'доп1', 'доп') }}
                        </div>
                    </div>

                    <div class="user_profile_info">
                        <div class="user_info">
                            {{ macros.render_param_user(param_user, error_param, info_param, len, 'доп2', 'доп') }}
                        </div>
                    </div>

                    <div class="user_profile_info">
                        {% if len(error_param[1]) == 0 and error_param[2] == 'доп' %}
                            <div class="alert alert-success d-flex align-items-center" role="alert">
                                <i class="bi bi-check-circle-fill"></i>
                                <div class="ms-2">
                                    Данные успешно сохранены
                                </div>
                            </div>
                        {% endif %}

                        {% if len(error_param[1]) != 0 and error_param[2] == 'доп' %}
                            <div class="admin_panel_error error_user_param">
                                {% for elem in error_param[1] %}
                                    <p>{{ elem }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="user_profile_info_buttons">
                        <input type="submit" value="Отменить изменения" class="button_user">
                        <input type="submit" name="save" value="Сохранить изменения" class="button_user">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>